<template> 

 <div class="border-set font-style wrapper"> 
<div class="row"> 
<div class="col-6"> 
<h5 class="text-left pad title">Api Keys</h5> 
</div> 
<div class="col-6" style="position: relative; top:5px; right: -10%;"> 
<b-btn @click="showMod=true" class="btn btn-primary">ADD</b-btn> 
</div> 
</div><br> 
<div v-for="(item, index) in all_keys" :key="index" class="row blue-text"> 
<div  style="margin-left:20%;" class="col-4 white token-text2 text-left">{{item.exchange}}</div> 
<div  style="margin-left:20%;;" class="col-4 white token-text inline">{{item.key}}</div> 
<hr class="white-hr">
</div> 
<div> 
</div> 
  <!-- Modal Component --> 
 <b-modal v-model="showMod"
 title="ADD API KEYS" 
             :header-bg-variant="headerBgVariant" 
             :header-text-variant="headerTextVariant" 
             :body-bg-variant="bodyBgVariant" 
             :body-text-variant="bodyTextVariant" 
             :footer-bg-variant="footerBgVariant" 
             :footer-text-variant="footerTextVariant"> 
<b-container> 
  <br/> 
    <div>
    <b-form-select multiple  :select-size="3" :options="options" class="mb-3 drop-input" v-model="selected">
    </b-form-select>
    <div>Selected: <strong>{{ selected[0]}}</strong></div>
  </div>
    <br />
    <b-row class="my-1"> 
    <b-col sm="2"><label style="font-size: 12px;" for="input-large">Key:</label></b-col> 
    <b-col sm="10"> 
      <b-form-input class="drop-input" v-model="keys" id="input-large" size="lg" type="text" placeholder="Enter your Key"></b-form-input> 
    </b-col> 
  </b-row>
    <b-row class="my-1"> 
    <b-col sm="2"><label style="font-size: 12px; white-space: nowrap;" for="input-large">Secret-Key:</label></b-col> 
    <b-col sm="10"> 
      <b-form-input class="drop-input" v-model="secret" id="input-large" size="lg" type="text" placeholder="Enter your Secret Key"></b-form-input> 
    </b-col>
  </b-row> 
    <b-row class="my-1" v-if="selected[0] == 'gdax'">
    <b-col sm="2"><label style="font-size: 12px;" for="input-large">Passphrase:</label></b-col> 
    <b-col sm="10"> 
      <b-form-input class="drop-input" v-model="passphrase" id="input-large" size="lg" type="text" placeholder="Enter your Passphrase"></b-form-input> 
    </b-col> 
  </b-row><br />  
  </b-container> 
         <div slot="modal-footer" class="w-100">
         <button size="sm" class="float-right btn-fil-blue" variant="primary" @click="add_api_keys">
           ADD
         </button>
         </div>
  </b-modal>  
</div> 
</template> 
<script> 
/* eslint-disable */


export default { 
  data () { 
    return { 
      endpoint: this.$store.state.apiEndPoint,
      passphrase: null,
      keys: '',
      secret: '',
      show: false, 
      showMod: false, 
      selected: [""], 
      variants: [ 
        'primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark' , 'dark4', 'black'
      ], 
        options: [ 
        { value: 'bittrex', text: 'Bittrex' }, 
        { value: 'binance', text: 'Binance' }, 
        { value: 'gdax', text: 'Gdax' }
              ], 
      headerBgVariant: 'black', 
      headerTextVariant: 'light', 
      bodyBgVariant: 'black', 
      bodyTextVariant: 'light', 
      footerBgVariant: 'black', 
      footerTextVariant: 'light' 
    } 
  } ,
  methods: {
       add_api_keys: function (){
          var that = this;
        var token = sessionStorage.getItem('token')
        let exchange = this.selected[0].toLowerCase()
        var test = JSON.stringify({'exchange': this.selected[0].toLowerCase(), 'key': this.keys, 'secret': this.secret, 'passphrase': this.passphrase});
         var header =  {          
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          'Authorization': 'Basic '+btoa(token+':unused')}
         fetch(this.endpoint + "addapikey", {
          method:"POST",
          credentials: 'same-origin',
          mode: 'cors',
          headers: header,
          body: JSON.stringify({'exchange': exchange, 'key': this.keys, 'secret': this.secret, 'passphrase': this.passphrase})
          }).then(function(response){
          return response.json();
          }).then(function(myResponse){
          if (myResponse.result == 'success'){
          let isItNew = true
          for (var i = 0; i < that.all_keys.length; i++) {
            if (that.all_keys[i]['exchange']==exchange) {
              isItNew = false
              that.all_keys[i]['key'] = that.keys
              let newKeys = that.all_keys
              that.$store.commit('updateKey', {'key': 'apikeys', 'newData': newKeys})
            }
          }
          if (isItNew==true){
            that.all_keys[that.all_keys.length] = {'exchange': exchange, 'key': that.keys}
            
              let newKeys = that.all_keys
              that.$store.commit('updateKey', {'key': 'apikeys', 'newData': newKeys})
          }
          that.showMod = false;
          } if (typeof myResponse.message != "undefined"){
            alert("Message"+myResponse.message);
          } else {
            alert("Request Failed")
          }
           return myResponse;
        })
    },
  },
    props: ['all_keys'],
  mounted () {
  }
} 
</script> 
<!-- Add "scoped" attribute to limit CSS to this component only --> 
<style scoped>
.inline { float:left; }
.btn-add{
  background: #345278 !important; 
}
 .modal-black{
   background: black;
 }
.dark2{ 
    background-color: black !important; 
} 
.border-set{ 
border-radius: 5px; 
  border: 5px solid rgb(37, 36, 36); 
} 
.border-seet{ 
border-radius: 5px; 
  border: 5px solid rgb(56, 54, 54); 
} 
.pad{ 
padding-left: 30px; 
padding-top:10px; 
} 
.btn-primary{ 
    background: #345278 !important; 
    border: none; 
} 
.button-pad{ 
    position: relative; 
    top:10px; 
    left:100px; 
} 
.blue-text{ 
color:#7648eb; 
font-family: 'Montserrat', sans-serif; 
    font-weight: bolder; 
 
} 
.font-style{ 
    font-family: 'Montserrat', sans-serif; 
} 
.token-text{
        font-size: 9px;
        float: left;
        position: relative;
        left: -50px;
}
.token-text2{
        font-size: 13px;
        letter-spacing: 1px;
        float: left;
        color:#7648eb !important; 
                position: relative;
        left: -50px;
}
.white{ 
    color:white; 
} 
.white-hr{ 
    background: rgb(117, 112, 112); 
    width: 80%;  
} 
.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
    height: 200px;
    overflow:hidden !important;
    overflow-y:scroll !important;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
        height:10%;

}

/* Track */
::-webkit-scrollbar-track {
    background: #2b2a2a00; 

}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 25px;
    height:10%;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
</style> 