<template>
<div class="wrapper">
  <span style="color:red">
{{failedMessage}}</span>

<div class="dropdown">
  <button class="dropbtn">{{perPageTicker}}  &#9660;</button>
  <div class="dropdown-content">
    <a @click="filterUpdate('perPage', 100)" >100</a>
    <a @click="filterUpdate('perPage', 50)" >50</a>
    <a @click="filterUpdate('perPage', 25)" >25</a>
    <a @click="filterUpdate('perPage', 10)" >10</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">{{interval}} &#9660;</button>
  <div class="dropdown-content">
    <a @click="filterUpdate('interval', '7 Days')">7 Days</a>
    <a @click="filterUpdate('interval', '24Hr')">24Hr</a>
    <a @click="filterUpdate('interval', '1Hr')">1Hr</a>
  </div>
</div>
<div class="dropdown">
  <form>
    <input v-model="query" type="search" style="text-indent: 4px;" class="dropbtn size" placeholder="Search...">
  </form> 
</div>
    <button class="searchBtn" @click="searchByCoin()" type="button"><fa icon="search"/></button> 
        <button class="searchBtn" @click="startLoop()" type="button"><fa icon="redo" /></button>            
</div> 
</template>

<script>

export default {
  name: 'FilterBar',
  data () {
    return {
      interval: "24Hr",
      perPageTicker: "25",
      exchangeTicker: "Global",
      query: '',
      endpoint: this.$store.state.apiEndPoint,
      failedMessage: ""
    }
  },
  methods: {
      startLoop(){
        this.$nuxt.$emit('startLoop', true)
      },
      searchByCoin: function(){
            let url = this.endpoint +'api/searchTicker?interval=' + this.interval + '&coin='+ this.query.toUpperCase()
            var that = this
            fetch(url)
            .then(res => res.json())
            .then((out) => {
              if (out.result == "failed"){
                that.failedMessage = out.message
              }
                  if (out.result == 'success') {
                    that.failedMessage = ""
                    that.$nuxt.$emit('searchedCoin', this.query.toUpperCase(),out.data)
          } 
        })
        .catch(err => {
          throw err
        })
      },
      filterUpdate: function(menu, action){
        switch(menu){
          case 'perPage':
            this.perPageTicker = action
            break;
          case 'interval':
           this.interval = action
           break;
          case 'exchange':
          this.exchangeTicker=action
          break;
        }
        let url = this.endpoint +'api/tickerfilterbar?menu=' + menu + '&perPage='+ this.perPageTicker + '&exchange=' + this.exchangeTicker + '&interval=' + this.interval
        let that = this
        fetch(url)
        .then(res => res.json())
        .then((out) => {
          if (out.result == 'success') {
            that.$nuxt.$emit('tickerData', out.data)
          } else {
            alert("Failed to get json response")
          }
        })
        .catch(err => {
          throw err
        })
      }
  },

}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>/* Style The Dropdown Button */
.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:600px;
}


.searchBtn{
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 25px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none;
  font-size: 11px;
}
.dropbtn {
    background-color: black;
    color: white;
    min-width:100px;
    margin: 10px;
    margin-right:0%;
    padding:1px;
    font-size: 11px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}
.search{
  width: 90px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 25px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none;
  font-size: 12px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 11px;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 125px;
    height:90px;
    overflow-y:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.size{
  width: 50px;
}
</style>
