<template>
    <div class="wrapper">
        <b-row>
            <b-col col sm="6" :xl="donutGone">
            <div class="title" style="margin-left:-85%;margin-top:-30px;margin-bottom:45px;white-space:nowrap;">Top 10 Allocated Assets</div>
                <div style="position:relative; top: -25px; left: -25%;">
                    <div class="all"  v-show="donutConfig == false" >
                        <div class="circle2 circlein"></div>
                        <span class="innerImg">
                            <img class="imgSize" :src="coinUrl"/>
                        </span>
                    <PieChart :pieChartData="allocationData" style="width: 250px;" />
                    </div>
                </div>
            </b-col>

            <b-col col sm="6" :xl="biggerAllocationRow" style="position:relative; margin-top: -10px;z-index:100;" class="box">
                <b-row>
                    <b-col col  sm="6" xl="6" style="padding-right:20%;">
                        <div v-if="0 in allocationData" v-on:click="updateGraph(allocationData[0]), changeTableRow(allocationData[0]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[0]"></CoinAllocationDisplay>
                        </div>
                        <div v-if="1 in allocationData" v-on:click="updateGraph(allocationData[1]), changeTableRow(allocationData[1]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[1]"></CoinAllocationDisplay>
                        </div>
                        <div v-if="2 in allocationData" v-on:click="updateGraph(allocationData[2]), changeTableRow(allocationData[2]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[2]"></CoinAllocationDisplay>
                        </div>
                        <div  v-if="3 in allocationData" v-on:click="updateGraph(allocationData[3]), changeTableRow(allocationData[3]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[3]"></CoinAllocationDisplay>
                        </div>
                        <div  v-if="4 in allocationData" v-on:click="updateGraph(allocationData[4]), changeTableRow(allocationData[4])">
                        <CoinAllocationDisplay  style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[4]"></CoinAllocationDisplay>
                        </div>
                    </b-col>
                    <b-col col  sm="6" xl="6" style="padding-left:30%;" >
                        <div v-if="5 in allocationData"  v-on:click="updateGraph(allocationData[5]), changeTableRow(allocationData[5]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[5]"></CoinAllocationDisplay>
                        </div>
                        <div v-if="6 in allocationData" v-on:click="updateGraph(allocationData[6]), changeTableRow(allocationData[6]), delay()" >
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[6]"></CoinAllocationDisplay>
                        </div>
                        <div v-if="7 in allocationData" v-on:click="updateGraph(allocationData[7]), changeTableRow(allocationData[7]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[7]"></CoinAllocationDisplay>
                        </div>
                        <div v-if="8 in allocationData" v-on:click="updateGraph(allocationData[8]), changeTableRow(allocationData[8]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[8]"></CoinAllocationDisplay>
                        </div>
                        <div v-if="9 in allocationData" v-on:click="updateGraph(allocationData[9]), changeTableRow(allocationData[9]), delay()">
                        <CoinAllocationDisplay style="cursor:pointer" :highlight="'false'" :logoSide="'left'" :coinData="allocationData[9]"></CoinAllocationDisplay>
                        </div>
                        <b-row>
                            <b-col>
                                <div v-if="10 in allocationData" style="margin-top:30px;position:absolute; left:-650%; white-space:nowrap;  font-style: italic;" class="title">
                                <span v-if="allocationData[10].AllocationPercentage > 0.99">Other: {{allocationData[10].AllocationPercentage}}% ({{allocationData[10].assetsInOther}} Assets)</span>
                                </div>
                            </b-col>
                        </b-row>
                    </b-col>
                </b-row>
            </b-col>
        </b-row>
    </div>
</template>
<script>
    /* eslint-disable */
    import PieChart from "~/components/assetAllocationChart/AssetAllocationChart"
    import CoinAllocationDisplay from "~/components/assetAllocationChart/CoinAllocationDisplay"
   

    export default {
        name: 'AssetAllocation',
        data() {
            return {
                donutConfig: false,
                donutGone: 6,
                biggerAllocationRow: 6,
                loading: false,
                coinUrl: '/cryptocurrency-icons/svg/color/btc.svg',
                coin: "BTC",
                color: "test",
                assets: [],
                assetNumbers: 0,
                allocationData: null,
            }
        },
        components: {
            PieChart,
            CoinAllocationDisplay
        },
        methods:{
            delay(){
                let that = this;
                that.loading = true;
                setTimeout(function() {
                that.loading = false;
                }, 2000)
            },
            updateGraph(data){
            let that = this;
            if (this.loading == false) {
            that.$nuxt.$emit('getNewTimeFrame', "ONEDAY", data);
            that.$nuxt.$emit('updateFromAsset', data);
            that.coinUrl = '/cryptocurrency-icons/svg/color/'+ data.symbol.toLowerCase() +'.svg';
            }
            },
            changeTableRow(data) {
                let that = this;
                if (that.loading == false) {
                let sendData = {
                    coin: data.Coin,
                    color: data.Color,
                    name: data.symbol
                };
                console.log(sendData);
                that.$nuxt.$emit('updateFromPerformers', sendData);
                }
            },
            getAssets(){
                for(var elem in this.allocationData){
                   if (this.allocationData[elem].AllocationPercentage <= 0 && this.allocationData[elem].symbol != 'Other'){
                        this.assets.push(this.allocationData[elem].AllocationPercentage);
                  }
                }
            }
        },
        mounted(){
           let ws = window.innerWidth;
            let that = this;
            if (ws < 1800 && ws > 1200) {
                that.donutConfig = true;
            }else {
                that.donutConfig = false;
            }
            window.addEventListener("resize", function () {
            let ws = window.innerWidth;
            if (ws < 1800 && ws > 1200) {
                that.donutConfig = true;
                that.donutGone = 2;
                that.biggerAllocationRow = 7;
            }else {
                that.donutConfig = false;
                that.donutGone = 6;
                that.biggerAllocationRow = 6;
}
            })
        },
        created() {

            this.$nuxt.$on("donutDataUpdate", (donutData) => {
                this.coinUrl = '/cryptocurrency-icons/svg/color/' + donutData.name.toLowerCase() + '.svg'
                this.coin = donutData.name
                this.color = donutData.color
            });
          this.allocationData = JSON.parse(JSON.stringify(this.$store.state.generalData.coinAllocation));
          this.getAssets()
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .donuthor {
        position: relative;
        right: -20%;
    }
    .wrapper {
        margin-left: auto;
        margin-right: auto;
        max-width: 80%;

    }
    .wrapper2 {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }
    .all {
        margin-top: 16px;
    }
    .text {
        font-family: 'Montserrat', sans-serif;
        font-size: 13px;
        font-weight: bold;
        color: white;
        z-index: 6;
        white-space: nowrap;
        margin-left: 0%;
    }

    .imgSize {
        height: 160%;
        width: 160%;
    }

    .pushBack {
        z-index: -1;
    }

    .leftT {
        position: relative;
        top: -25px;
        left: -15%;
        padding-left: 11%;
        z-index: 5;
    }

    .circle2 {
        position: absolute;
        background: rgba(0, 0, 0, 0.904);
        width: 200px;
        height: 200px;
        border-radius: 50%;
        z-index: 3;
        left: 26px;
        top: 26px;
    }

    .innerImg {
        height: 50px;
        width: 50px;
        position: absolute;
        left: 86px;
        top: 87px;
        z-index: 15;
    }

    .outerText {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 115px;
        top: 138px;
        font-weight: bold;
        z-index: 8;
        font-size: 20px;
    }
    .box{
        background: rgba(0, 0, 0, 0.568);
    }
</style>