<template>
   <div>
     <b-container fluid>
       <b-row>
      <b-col cols="12">
    <div>
    <div style="white-space:nowrap;position:relative;" :style="{'background-color': colorBlock}" class="square title">
     <a style="padding-left:10px;position:relative;top:-2px;">{{coinName}}</a> - ${{coinPrice}}
     </div>
     </div>
     <div class="logo">
     <img :src="'/cryptocurrency-icons/128/color/' + coinName.toLowerCase() + '.png'"  onerror="this.src='/cryptocurrency-icons/svg/black/other.svg'" width="60px">
     </div>
     <div>
     <apexchart width="390" type="radialBar" :options="chartOptions" :series="series"></apexchart>
     </div>
     <div style="position:relative;top:-22%;">
     <div style="margin-top:-230px;color:white; white-space: nowrap;" class="table-labels">
     <div style="margin-bottom:17px;margin-left:-79%;"><h6><b>Asset Status</b></h6></div>
     <div style="margin-bottom:17px;margin-left:-65%;">Portfolio Value:<a style="padding-left:5px;color:#4674e2;">${{portfolioValue}}</a></div>
     <div style="margin-bottom:17px;margin-left:-72%;">{{coinName}} Value:<a style="padding-left:5px;color:#4674e2;">${{coinValue}}</a></div>
     <div style="margin-bottom:17px;margin-left:-65%;">Targeted Value:<a style="padding-left:5px;color:#4674e2;;">${{targetValue}}</a></div>
     <div style="margin-bottom:17px;margin-left:-61%;">Value from target:<a style="padding-left:5px;color:#4674e2;">${{valueFromTarget}}</a></div>
     <div style="margin-bottom:17px;margin-left:-41%;">Rebalance Amount:<a style="padding-left:5px;color:#4674e2;"><span :style="{'color':buyColor}">{{buyOrSell}}</span> {{tradeAmount}} ({{coinName}})</a></div>
     </div>
     </div>
     </b-col>
     </b-row>
     </b-container>
   </div>
</template>

<script>
export default {
  props: ['globalBalances'],
    data: function() {
      return {
// **************** */
portfolioValue: null,
coinPrice: null,
coinValue: null,
colorBlock: 'red',
coinName: 'Bitcoin (BTC)',
buyColor: 'green',
value: 'N/A',
buyOrSell: "BUY",
valueFromTarget: null,
tradeAmount: null,  
targetValue: 'N/A',
allocation: 'N/A',
etc: 'N/A',
// **************** */
series: [80, 20],
chartOptions: { 
legend: {
    onItemHover: {
        highlightDataSeries:false
    },
    show: true,
    labels:{
      useSeriesColors: true
    },
    position: "left",
    offsetX: 0,
    offsetY: 0,
    containerMargin: {
      right: 0,
      left: 0
    },
     itemMargin: {
      horizontal: 0,
      vertical: 0
    },
    formatter: function(val, opts) {
      return val + " - " + opts.w.globals.series[opts.seriesIndex] + "%";
    }
      },
                        fill: {
                        opacity: 1,
                        type: 'gradient',
                        gradient: {
                            shade: 'dark',
                            type: "horizontal",
                            shadeIntensity: 1,
                            gradientToColors: ['#f79220', '#047ea4'],
                            inverseColors: true,
                            opacityFrom: 1,
                            opacityTo: 1,
                            stops: [1, 100]
                        },
                    },       
          plotOptions: {
            radialBar: {
               hollow: {
        margin: 5,
        size: "48%",
        background: "transparent"
      },
      track: {
        show: true,
        background: "#40475D",
        strokeWidth: "10%",
        opacity: 1,
        margin: 3 // margin is in pixels
      },
              dataLabels: {
                track: {
                        background: '#000000',
                    },
                name: {
                  fontSize: '0px',
                },
                value: {
                  fontSize: '0px',
                },
              }
            }
          },
          colors:  ['#ffc222', '#00d0dc'],
          labels: ['Allocation', 'Target'],
        },
      }
    },
    created(){
      this.$nuxt.$on("radialData", payload => {
              if (this.globalBalances.global[payload.symbol]){
                  this.portfolioValue = this.globalBalances.global.computed.combinedusdTotal
                  this.coinValue = this.globalBalances.global[payload.symbol].usdvalue
                  this.coinPrice = this.globalBalances.global[payload.symbol].usdprice         
                  this.coinName = payload.symbol
                  this.colorBlock = payload.colorBlock
                  this.targetValue = Number((Number(payload.target)/100)*Number(this.portfolioValue)).toFixed(2)
                  this.allocation = Number(payload.allocation).toFixed(2)
                  this.valueFromTarget = Number(Number(this.targetValue) - Number(this.coinValue)).toFixed(2)
                  if (Number(this.valueFromTarget) < 0 ){
                    this.buyOrSell = "SELL"
                    this.buyColor = 'red'
                  } else {
                    this.buyColor = "green"
                    this.buyOrSell = "BUY"
                  }
                  this.tradeAmount = Number(Number(this.coinValue)/Number(this.valueFromTarget)).toFixed(8)
                  this.series = [Number(payload.allocation).toFixed(2), Number(payload.target).toFixed(2)]  
              } else {
                  return
              }

      });
    }
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.logo{
  position:absolute;
  margin-top:96px;
  margin-left:253px;
}
    .box .apexcharts-xaxistooltip {
        background: #1b213b;
        color: #fff;
}
    .content-area {
        max-width: 1280px;
        margin: 0 auto;
}
    .columnbox {
        padding-right: 15px;
}
    .radialbox {
        max-height: 333px;
        margin-bottom: 60px;
}
    .apexcharts-legend-series tspan:nth-child(3) {
        font-weight: bold;
        font-size: 20px;
    }
       .square {
        height: 15px;
        width: 7px;
        position: relative;
    }
    .pointer{
      cursor: pointer;
      z-index: 10;
    }
      .square {
        height: 15px;
        width: 7px;
        position: relative;
  }
/* webkit solution */
::-webkit-input-placeholder { text-align:right; }
/* mozilla solution */
input:-moz-placeholder { text-align:right; }
.scrollable{
  border: rgb(0, 0, 0);
  border-style: solid;
  height: 210px;
  overflow-x: hidden;
  overflow-y: scroll;
}
</style>

