<template> 
<div class="border-set font-style wrapper"> 
<b-row>
  <b-col>
<h5 class="text-left pad title">UI Settings</h5> 
  </b-col>
</b-row>
<b-row>
  <b-col>
<div class="mode" style="display: inline-block">
<p>Color Mode:</p>
</div>
<div style="display: inline-block">
<label class="container" >
  <input type="radio" name="radio">
  <span class="checkmark"></span>
</label>
</div>
<div style="display: inline-block">
<label class="container" >
  <input type="radio" name="radio">
  <span class="checkmark2"></span>
</label>
</div>
<div style="display: inline-block">
<label class="container" >
  <input type="radio" name="radio">
  <span class="checkmark3"></span>
</label>
</div>
  </b-col>
</b-row>


</div> 
</template> 
<script> 

export default { 
  data () { 
    return { 
      all_tokens: {'user_token' : '52342435234523452435234dsfgsdgr45624356gdfsgf'},
      endpoint: this.$store.state.apiEndPoint,
      stars: '',
      show: 'show',
    } 
  } ,
  methods: {
       get_token: function (){
        var token = sessionStorage.getItem('token')
         var header =  {          
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          'Authorization': 'Basic '+btoa(token+':unused')}
          //let that = this
         fetch(this.endpoint + "token", {
          method:"POST",
          mode: 'cors',
          headers: header,
          body: JSON.stringify({exchange: this.selected[0].toLowerCase(), key: this.keys, secret: this.secret})
          }).then(function(response){
          }).then(function(response){
        })
    },
    numberStars: function (){
    var tokenTemp = this.all_tokens.user_token
    if (!tokenTemp) {
      return
    }
    var starlength = tokenTemp.length;
    for (var i=0; i < starlength; i++) {
    this.stars += ('*');
    }
    this.hidden = this.stars;
    }
  },
    props: ['tokens'],
  mounted () {
      this.numberStars();
  }
} 
</script> 
<!-- Add "scoped" attribute to limit CSS to this component only --> 
<style scoped>
.btn-add{
  background: #345278 !important; 
}
 .modal-black{
   background: black;
 }
.dark2{ 
    background-color: black !important; 
} 
.border-set{ 
border-radius: 5px; 
  border: 5px solid rgb(37, 36, 36); 
} 
.pad{ 
padding-left: 30px; 
padding-top:10px; 
} 
.btn-primary{ 
    background: #345278 !important; 
    border: none; 
} 
.button-pad{ 
    position: relative; 
    top:10px; 
    left:100px; 
} 
.blue-text{ 
color:#7648eb; 
font-family: 'Montserrat', sans-serif; 
    font-weight: bolder; 
 
} 
.font-style{ 
    font-family: 'Montserrat', sans-serif; 
} 
.token-text{
        font-size: 11px;
        float: left;
}
.token-text2{
        font-size: 11px;
        letter-spacing: 2px;
        float: left;
}
.white{ 
    color:white; 
} 
.white-hr{ 
    background: rgb(117, 112, 112); 
    width: 80%;  
} 
.wrapper {
    margin-top:-5px;
    margin-left:auto;
    margin-right:auto;
    width:100%; 
    height:125px;
}
/* Customize the label (the container) */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(93, 180, 252);
  border-radius: 50%;
}
.checkmark2 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(93, 180, 252);
  border-radius: 50%;
}
.checkmark3 {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: rgb(93, 180, 252);
  border-radius: 50%;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: rgb(38, 41, 43);
}
.container input:checked ~ .checkmark2 {
  background-color: rgb(255, 255, 255);
}
.container input:checked ~ .checkmark3 {
  background-color: rgb(160, 32, 32);
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkmark:after2 {
  content: "";
  position: absolute;
  display: none;
}
.checkmark:after3 {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark2:after {
  display: block;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark3:after {
  display: block;
}


.mode{
float: left;
margin-left: 32px;
margin-top: 7px;
}
   textarea {
        background: #1a1a1a;
        color: white;
    }

    textarea:focus {
        background: #1a1a1a;
        color: white;
    }

    input:focus {
        background: #1a1a1a;
        color: white;
    }
.drop-input{
color:white;
background: #1a1a1a;
border:none;
font-size: 12px;
height:30px;
}
    .btn-fil-blue {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    .btn-fil-yellow {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a3972d;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    .btn-fil-red {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a41704;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
       input {
        background: #1a1a1a;
        color: white;
    }

</style> 