<template>
    <div class="border-set font-style wrapper">
        <div class="row">
            <div class="col-6">
                <h5 class="text-left pad title">Wallet Addresses</h5>
            </div>
            <div class="col-6" style="position: relative; top:5px; right: -10%;">
                <b-btn @click="showADD=true" class="btn btn-primary">ADD</b-btn>
            </div>
        </div><br>
        <b-table striped hover :fields="fields" :items="wallets" class="tabletext" ref="table">
            <template slot="Edit" slot-scope="data">
                <div class="nowrap">
                    <span @click="editWallet(data.index)" style="cursor: pointer;"><img :src="'/other/edit.svg'" class="watchlist-icons inverted" width="20px" /></span>
                </div>
            </template>
            <template slot="Remove" slot-scope="data2">
                <div class="nowrap">
                    <span v-on:click="deleteWallet(data2.index)" style="cursor: pointer;"><img :src="'/other/delete.svg'" class="watchlist-icons" width="30px" /></span>
                </div>
            </template>
        </b-table>
        <!-- ADD Modal Component -->
        <b-modal v-model="showADD" id="exchange" title="Add Wallet Address" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant">
            <b-container style="font-size:12px;">
                <br />
                <br />
                <b-row style="white-space: nowrap;" class="my-1">
                    <b-col sm="2">
                        <label for="input-large">Coin Symbol: </label></b-col>
                    <b-col sm="10">
                        <b-form-input v-model="coinsymbol" id="input-large" size="sm" type="text" class="drop-input" style="width:50%;margin-left:30px;border-radius:5px;" placeholder="EX:BTC"></b-form-input>
                    </b-col>
                </b-row>
                <b-row style="white-space: nowrap;" class="my-1">
                    <b-col sm="2">
                        <label for="input-large">Wallet nickname:</label></b-col>
                    <b-col sm="10">
                        <b-form-input v-model="nickname" id="input-large" size="lg" type="text" class="drop-input" style="width:50%;margin-left:30px;" placeholder="EX:Bitcoin1"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="2">
                        <label for="input-large">Address:</label></b-col>
                    <b-col sm="10">
                        <b-form-input v-model="address" id="input-large" size="lg" type="text" class="drop-input" style="width:50%;margin-left:30px;" placeholder="wallet address"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="2">
                        <label for="input-large">Balance:</label></b-col>
                    <b-col sm="10">
                        <b-form-input v-model="balance" id="input-large" size="lg" type="text" class="drop-input" style="width:50%;margin-left:30px;" placeholder="address balance"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="2">
                        <label style="float:left;" for="input-large">Time:</label></b-col>
                    <b-col sm="10">
                        <datetime 
                        type="datetime"
                        :phrases="{ok: 'Continue', cancel: 'Exit'}"
                        v-model="time"
                        input-class="drop-input" 
                        input-style="border:none;width:50%;border-radius:3px;float:left;margin-left:30px;"
                        ></datetime><br> 
                    </b-col>
                </b-row>

            </b-container>
            <div slot="modal-footer" class="w-100">
                <button size="sm" class="float-right btn-fil-blue" variant="primary" @click="add_wallet">
                    ADD
                </button>
            </div>
        </b-modal>
        <!-- EDIT Modal Component -->
        <b-modal v-model="showEDIT" id="exchange" title="EDIT Wallet" class="table-labels" :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant">
            <b-container style="white-space:nowrap;">
                <b-row class="my-1">
                    <b-col sm="2">
                    </b-col>
                </b-row><br />
                <b-row class="my-1">
                    <b-col sm="2">
                        <label for="input-large">Wallet nickname:</label></b-col>
                    <b-col sm="10">
                        <b-form-input v-model="newNickname" class="drop-input" id="input-large" size="lg" type="text" placeholder="Nickname" style="width:50%; margin-left:10%;"></b-form-input>
                    </b-col>
                </b-row>
                <br><br>
                <b-row class="my-1">
                    <b-col sm="2">
                        <label for="input-large">Address:</label></b-col>
                    <b-col sm="10">
                        <b-form-input class="drop-input" v-model="newAddress" id="input-large" size="lg" type="text" placeholder="Wallet Address" style="width:50%; margin-left:10%;"></b-form-input>
                    </b-col>
                </b-row>
                <b-row class="my-1">
                    <b-col sm="2">
                    </b-col>
                    <b-col sm="10">
                    </b-col>
                </b-row>

            </b-container>
            <div slot="modal-footer" class="w-100">
                <button size="sm" class="btn-fil-blue" variant="primary" @click="edit_wallet()">
                    EDIT
                </button>
            </div>
        </b-modal>
    </div>
</template>
<script>
    export default {
        data() {
            return {
                all_tokens: {
                    'user_token': '52342435234523452435234dsfgsdgr45624356gdfsgf'
                },
                endpoint: this.$store.state.apiEndPoint,
                wallets: [],
                newWallets: [],
                showADD: false,
                showEDIT: false,
                nicknameEdit: '',
                deleteAddr: '',
                coinsymbol: '',
                nickname: '',
                address: '',
                time: '',
                balance: '',
                show: false,
                originalNickname: '',
                newNickname: '',
                originalAddress: '',
                newAddress: '',
                variants: [
                    'primary', 'black', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark', 'dark4'
                ],
                headerBgVariant: 'black',
                headerTextVariant: 'light',
                bodyBgVariant: 'black',
                bodyTextVariant: 'light',
                footerBgVariant: 'black',
                footerTextVariant: 'light',
                fields: [{
                        key: "Symbol",
                        label: "Symbol",
                        sortable: true
                    },

                    {
                        key: "Address",
                        label: "Address",
                        sortable: true
                    },
                    {
                        key: "Nickname",
                        label: "Nickname",
                        sortable: true
                    },
                    {
                        key: "Edit",
                        label: "Edit",
                        sortable: false
                    },
                    {
                        key: "Remove",
                        label: "Delete",
                        sortable: false
                    },
                ]
            }
        },
        methods: {
            deleteWallet(idx) {
                var addrObj = this.addresses[idx]
                this.deleteAddr = addrObj.Address
                this.delete_Wallet()
                this.refreshwallet_DELETE(this.deleteAddr)
                this.deleteAddr = null

            },
            editWallet(idx) {
                var addrObj = this.addresses[idx]
                this.originalNickname = addrObj.Nickname
                this.originalAddress = addrObj.Address
                this.newNickname = addrObj.Nickname
                this.newAddress = addrObj.Address
                this.showEDIT = true
            },
            refreshwallet_TABLE() {
                this.wallets = [];
                var that = this;
                for (var elem in this.addresses) {
                    that.wallets.push({
                        'Symbol': that.addresses[elem].Symbol,
                        'Address': that.addresses[elem].Address,
                        'Nickname': that.addresses[elem].Nickname,
                    });
                }
            },
            refreshwallet_ADD() {
                this.wallets.push({
                    'Symbol': this.coinsymbol,
                    'Address': this.address,
                    'Nickname': this.nickname,
                });
            },
            refreshwallet_DELETE(deletedAddr) {
                var that = this;
                var that = this;
                var tmp_wallet = []
                for (var elem in that.wallets) {
                    if (that.wallets[elem].Address != deletedAddr) {
                        tmp_wallet.push(that.wallets[elem])
                    }
                }
                this.wallets = []
                this.wallets = tmp_wallet

            },
            refreshwallet_EDIT() {
                var that = this;
                for (var elem in that.wallets) {
                    if (that.wallets[elem].Nickname == that.originalNickname) {
                        that.wallets[elem].Nickname = that.newNickname;
                    }
                    if (that.wallets[elem].Address == that.originalAddress) {
                        that.wallets[elem].Address = that.newAddress;
                    }
                }
                that.addresses = that.wallets
            },
            get_token: function() {
                var token = sessionStorage.getItem('token')
                var header = {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    'Authorization': 'Basic ' + btoa(token + ':unused')
                }
                fetch(this.endpoint + "token", {
                    method: "POST",
                    mode: 'cors',
                    headers: header,
                    body: JSON.stringify({
                        exchange: this.selected[0].toLowerCase(),
                        key: this.keys,
                        secret: this.secret
                    })
                }).then(function(response) {}).then(function(response) {})
            },
            add_wallet: function() {
                var token = sessionStorage.getItem('token')
                var header = {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    'Authorization': 'Basic ' + btoa(token + ':unused')
                }
                var url = this.endpoint + "api/addWallet"
                var that = this;
                fetch(url, {
                    method: "POST",
                    mode: 'cors',
                    headers: header,
                    body: JSON.stringify({
                        'currency': this.coinsymbol,
                        'address': this.address,
                        'nickname': this.nickname,
                        'balance': this.balance,
                        'time': new Date(this.time).getTime()
                    })
                }).then(function(response) {
                    return response.json();
                }).then(function(myResponse) {
                    that.showADD = false;
                    alert(myResponse.message);
                    that.refreshwallet_ADD()
                    return myResponse;
                })
            },
            edit_wallet: function() {
                var token = sessionStorage.getItem('token')
                var header = {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    'Authorization': 'Basic ' + btoa(token + ':unused')
                }
                var url = "api/editWallet"
                var that = this;
                let body = {
                        'originalNickname': that.originalNickname,
                        'newNickname': that.newNickname,
                        'originalAddress': that.originalAddress,
                        'newAddress': that.newAddress
                    }
                that.$insightfetch(url, 'POST', body).then(function(myResponse) {
                    if (myResponse.result === "success") {
                        that.showEDIT = false;
                        that.refreshwallet_EDIT()
                        that.$store.commit('updateKey', {'key': 'walletAddresses', 'newData': that.addresses})
                    } else {
                        alert("Edit failed")
                    }
                    return myResponse;
                })
            },
            delete_Wallet: function() {
                var token = sessionStorage.getItem('token')
                var header = {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json',
                    'Authorization': 'Basic ' + btoa(token + ':unused')
                }
                var url = this.endpoint + "api/deleteWallet"
                var that = this
                fetch(url, {
                    method: "POST",
                    mode: 'cors',
                    headers: header,
                    body: JSON.stringify({
                        'address': this.deleteAddr
                    })
                }).then(function(response) {
                    return response.json();
                }).then(function(myResponse) {
                    return myResponse;
                })
            },
        },
        props: ['addresses'],
        mounted() {
            this.refreshwallet_TABLE()
        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .inline {
        float: left;
    }

    .btn-add {
        background: #345278 !important;
    }

    .modal-black {
        background: black;
    }

    .dark2 {
        background-color: black !important;
    }

    .border-set {
        border-radius: 5px;
        border: 5px solid rgb(37, 36, 36);
    }

    .pad {
        padding-left: 30px;
        padding-top: 10px;
    }

    .btn-primary {
        background: #345278 !important;
        border: none;
    }

    .button-pad {
        position: relative;
        top: 10px;
        left: 100px;
    }

    .inverted {
        filter: invert(100%);
    }

    .blue-text {
        color: #7648eb;
        font-family: 'Montserrat', sans-serif;
        font-weight: bolder;

    }

    .font-style {
        font-family: 'Montserrat', sans-serif;
    }

    .token-text {
        font-size: 9px;
        float: left;
        position: relative;
        left: -50px;
    }

    .token-text2 {
        font-size: 13px;
        letter-spacing: 1px;
        float: left;
        color: #7648eb !important;
        position: relative;
        left: -50px;
    }

    .white {
        color: white;
    }

    .white-hr {
        background: rgb(117, 112, 112);
        width: 80%;
    }

    .wrapper {
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        height: 250px;
        overflow: hidden;
        overflow-y: scroll;
    }

    /* width */
    ::-webkit-scrollbar {
        width: 5px;
        height: 10%;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #2b2a2a00;

    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 25px;
        height: 10%;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

    textarea {
        background: #1a1a1a;
        color: white;
    }

    textarea:focus {
        background: #1a1a1a;
        color: white;
    }

    input:focus {
        background: #1a1a1a;
        color: white;
    }

    .drop-input {
        color: white;
        background: #1a1a1a;
        border: none;
        font-size: 12px;
        height: 30px;
    }

    .btn-fil-blue {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    .btn-fil-yellow {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a3972d;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    .btn-fil-red {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a41704;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    input {
        background: #1a1a1a;
        color: white;
    }
</style>