<template>
  <div class="bg" style="overflow-x:hidden overflow-y:scroll; z-index:100;">
    <div class="table-wrap">
      <b-table small striped hover :fields="fields"  :filter="searchFilter" :items="items"  v-on:row-clicked="rowClicked" caption-top>
   <template slot="HEAD_Value" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
 <div class="dropdown">
    <button class="dropbtn2 nowrap table-labels">Value ({{currency}})</button>
     <div class="dropdown-content">
    <a v-on:click="filterTable('USD')">USD</a>
    <a v-on:click="filterTable('BTC')">BTC</a>
    </div>
   </div> 
 </template>
   <template slot="HEAD_Price" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
 <div class="dropdown">
    <button class="dropbtn2 nowrap table-labels">Price ({{currency}})</button>
     <div class="dropdown-content">
    <a v-on:click="filterTable('USD')">USD</a>
    <a v-on:click="filterTable('BTC')">BTC</a>
    </div>
   </div> 
 </template>
    <template slot="HEAD_Logo" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  
</div>
 </template>
<template slot="HEAD_Balance" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Balance
</div>
 </template>

<template slot="HEAD_Nickname" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Nickname
</div>
 </template>

<template slot="HEAD_Symbol" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Symbol
</div>
 </template>
     <template slot="Logo" scope="item">
     <div class="nowrap">
     <span><img :src="'/cryptocurrency-icons/svg/color/'+ item.item.Symbol.toLowerCase() +'.svg'" class="watchlist-icons" onerror="this.src='/cryptocurrency-icons/svg/black/other.svg'" width="25px" /></span>
     </div>
     </template>
<template slot="Address" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.value}}
</div>
 </template>

<template slot="Balance" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.value}}
</div>
 </template>

<template slot="Nickname" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.value}}
</div>
 </template>

<template slot="Symbol" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.value}}
</div>
 </template>
</b-table>
</div>
</div>
</template>
<script>
/* eslint-disable */

export default {
  name: 'CoinsWalletTable',
  data () {
    return  {
      currency: '',
      items: [],
      searchItems: this.searchFilter,
      wallets: this.addresses,
      fields: [
              { key: 'Logo', 
                label:"Logo",
                sortable:  false
              },
              { key: 'Symbol', 
                label:"Symbol",
                sortable:  true
              },
                { key: 'Nickname', 
                label:"Nickname",
                sortable:  true
              },
              { key: 'Balance', 
                label:"Balance",
                sortable:  true
              },
              { key: 'Value', 
                label:"Value",
                sortable:  true
              },
              { key: 'Price', 
                label:"Price",
                sortable:  true
              },
              ],
    }
  },
  props: ['addresses', 'searchFilter'],
  mounted(){
  this.$nuxt.$on("overviewCoins", (val) => { 
  this.items = [];
  this.getTable();
     })
  this.$nuxt.$on("clearWallet", (val) => {
  var that = this; 
  this.items = [];
  this.getTable();
  for (var elem in that.wallets){
    if (val == that.wallets[elem].Symbol){
    that.rowClicked(that.items[elem], 'clear');
    }
  }
  })
  this.getTable();
  },
   methods:{
    getTable(){
    this.currency = 'USD';
    for (var elem in this.wallets){
    this.items.push({
    'Address': this.wallets[elem].Address,
    '_rowVariant': "dark2",
    'Balance': this.checkZero(Number.parseFloat(this.wallets[elem].Balance).toFixed(4)), 
    'Nickname': this.wallets[elem].Nickname,
    'Symbol' : this.wallets[elem].Symbol,
     'Value' : this.checkZero(Number.parseFloat(this.wallets[elem].Value.USD).toFixed(2)), 
      'Price' : this.checkZero(Number.parseFloat(this.wallets[elem].Price.USD).toFixed(2)), 
      });
    }
     },
       checkZero(num){
    if (isNaN(num)|| num == 0){
        return "-"
      }
      var number = num.toLocaleString('en')
      if (number.includes(".")){
          var parts = number.split(".")
          parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",")
          return parts.join(".")
      } else {
          return number.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      }
  },
 rowClicked(item, index) {
     this.$nuxt.$emit('overviewReset', false);
    for (var eachItems in this.wallets) {
    this.items[eachItems]._rowVariant = "dark2";
    }
    item._rowVariant = 'dark3';
    this.$nuxt.$emit('walletClick', item);
  },
filterTable(val){
  if (val === 'USD'){
    this.items = [];
      for (var elem in this.wallets){
      this.items.push({
      'Address': this.wallets[elem].Address,
      'Balance': Number(this.wallets[elem].Balance).toFixed(4),
      'Nickname': this.wallets[elem].Nickname,
      'Symbol' : this.wallets[elem].Symbol,
      'Value' : Number(this.wallets[elem].Value.USD).toFixed(4),
      'Price' : Number(this.wallets[elem].Price.USD).toFixed(4),
      '_rowVariant': "dark2" });
     }
  } 
  else if(val === 'BTC') {
        this.items = [];
      this.currency = 'BTC'
      for (var elem in this.wallets){
      this.items.push({
        'Address': this.wallets[elem].Address,
        'Balance': Number(this.wallets[elem].Balance).toFixed(4),
        'Nickname': this.wallets[elem].Nickname,
        'Symbol' : this.wallets[elem].Symbol,
        'Value' : Number(this.wallets[elem].Value.BTC).toFixed(4),
        'Price' : Number(this.wallets[elem].Price.BTC).toFixed(4),
        '_rowVariant': "dark2" });
            }
          }
        }
      }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.table-dark2:nth-child(odd){
  background-color: rgb(10, 10, 10) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-dark2:nth-child(even){
  background-color: rgb(0, 0, 0) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-wrap
{
    height:305px;
    width:100%;
    position: relative;
    overflow: scroll; 
    overflow-x: hidden; 
    margin-top: 16px;
}
.bg{
  background-color: black;
}
.white{
  color: white;
}
.green{
  color: green;
}
.red{
  color: rgb(0, 17, 255);
}
.square {
  height: 22px;
  width: 7px;
  position:relative;
}
.gray{
  background-color:rgb(32, 32, 32);
}
.search{
  width: 100px;
  border: 2px solid rgb(204, 204, 204);
  background: transparent;
  border-radius: 25px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none
}
* {
    outline-style: none
}
.borderblack{
  background: black;
  position: relative; 
  margin-top:52px;
  z-index:5;
}
.square2 {
  height: 10px;
  width: 1000px;
  position:relative;
  background: rgb(0, 0, 0);
  top:1px;
  z-index: 5;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f1d1d; 
        border-radius: 25px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(78, 73, 73); 
        border-radius: 25px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
}
.dropbtn {
    background-color: black;
    color: white;
    min-width:50px;
    margin-right:0%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    top:-10px;
    height: 27px;
}
.dropbtn2 {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: relative;
    height: 27px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top:22px;
    background-color: black;
    min-width: 125px;
    height:90px;
    overflow-y:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}
</style>
