<template>
<div>
<div>
    <b-row>
        <b-col  cols="12" class="text-left">
        <div class="white title2 float-left">
            <img v-show="coin == 'OVERVIEW'" class="invert" :src="'/cryptocurrency-icons/svg/white/other.svg'" onerror="this.src='/cryptocurrency-icons/svg/white/other.svg'" width="50px" height="50px" />
            <img v-show="coin != 'OVERVIEW'"  :src="'/cryptocurrency-icons/svg/color/'+ coin_image + '.svg'" onerror="this.src='/cryptocurrency-icons/svg/white/other2.svg'" width="50px" height="50px" />
            {{coin}} 
        </div>
        </b-col>
    </b-row>
</div>
    <b-row>
    <b-col>
    <div class="float-right" style="margin-top: -45px;margin-bottom:45px;" >
    <b-form inline>
    <div class="button-hover" v-on:click="filterOrders('ONEDAY'), chartfilter = 'ONEDAY'"><a v-bind:style="chartButtonOff" v-if="chartfilter != 'ONEDAY'">1d</a></div>
    <div class="button-hover"><a  class="chart-filter-pad-sel" v-if="chartfilter == 'ONEDAY'" :style="'background-color: #02738d'">1d</a></div>
    <div  class="button-hover" v-on:click="filterOrders('ONEWEEK'), chartfilter = 'ONEWEEK'"><a v-bind:style="chartButtonOff" v-if="chartfilter != 'ONEWEEK'">7d</a></div>
    <div class="button-hover"><a class="chart-filter-pad-sel" v-if="chartfilter == 'ONEWEEK'" :style="'background-color: #02738d'">7d</a></div>
    <div class="button-hover" v-on:click="filterOrders('ONEMONTH'), chartfilter = 'ONEMONTH'"><a v-bind:style="chartButtonOff" v-if="chartfilter != 'ONEMONTH'">1m</a></div>
    <div class="button-hover"><a class="chart-filter-pad-sel" v-if="chartfilter == 'ONEMONTH'" :style="'background-color: #02738d'">1m</a></div>
    <div  class="button-hover" v-on:click="filterOrders('THREEMONTHS'), chartfilter = 'THREEMONTHS'"><a v-bind:style="chartButtonOff" v-if="chartfilter != 'THREEMONTHS'">3m</a></div>
    <div  class="button-hover"><a class="chart-filter-pad-sel" v-if="chartfilter == 'THREEMONTHS'" :style="'background-color: #02738d'">3m</a></div>
    <div  class="button-hover" v-on:click="filterOrders('SIXMONTHS'), chartfilter = 'SIXMONTHS'"><a v-bind:style="chartButtonOff" v-if="chartfilter != 'SIXMONTHS'">6m</a></div>
    <div  class="button-hover"><a class="chart-filter-pad-sel" v-if="chartfilter == 'SIXMONTHS'" :style="'background-color: #02738d'">6m</a></div>
    <div class="button-hover" v-on:click="filterOrders('ONEYEAR'), chartfilter = 'ONEYEAR'"><a v-bind:style="chartButtonOff" v-if="chartfilter != 'ONEYEAR'">1y</a></div>
    <div class="button-hover"><a class="chart-filter-pad-sel" v-if="chartfilter == 'ONEYEAR'" :style="'background-color: #02738d'">1y</a></div>
    <div v-if="overview == false" class="title" style="position:relative; top:-3px;right:-2%;"><button class="btn-fil-white title" v-on:click="isOverviewCoins(true)">Reset</button></div>
    <div v-if="overview == true" class="title" style="position:relative; top:-3px;;right:-2%;"><button class="btn-fil-white2 title" disabled>Reset</button></div>
    </b-form>
    </div>
    </b-col>
    </b-row>
<b-row>
<b-col cols="12">
</b-col>
<span style="position:relative; top:-45px;width:100%; margin-bottom:15px;">
<PortfolioChart ></PortfolioChart>
</span>
</b-row>
</div>
</template>

<script>
/* eslint-disable */
import PortfolioChart from '~/components/PortfolioApexChart/PortfolioChart'
import PageLoader from '~/components/loader/PageLoader'

//import { Line} from 'vue-chartjs'
export default {
  data () {
    return {
        chartReady: false,
        currentData: '',
        overview: true,
        oneDayShow: true,
        sevenDayShow: true,
        oneMonthShow: true,
        threeMonthShow: true,
        sixMonthShow: true,
        oneYearShow: true,
        chartfilter: 'ONEDAY',
        coin: 'OVERVIEW',
        coin_image: "total",
        chartButton:{
            'background-color': '#0f8bab',
            'text-decoration': 'none',
            'color': 'white',
            'padding-left': '10px',
            'padding-right': '10px',
            'border-radius' : '25%',
            'cursor' : 'pointer'
        },
        chartButtonOff:{
            'background-color':'#0000',
            'text-decoration': 'none',
            'color': 'white',
            'padding-left': '10px',
            'padding-right': '10px',
            'border-radius' : '25%',
            'cursor' : 'pointer'
        },
    }
  },

computed: {
},
methods:{
    isOverviewCoins(val){
   if (val == true){
    this.overview = true;
    this.home()
    this.chartfilter = 'ONEDAY';
   }else {
    this.overview = false;
   }
},
    filterOrders(val){
     if (this.overview == true) {
     this.$nuxt.$emit('getNewTimeFrame', val, 'total');
     }else{
     var filterCoin = this.currentData;
     this.$nuxt.$emit('getNewTimeFrame', val, filterCoin);
     }
    },
    home(){
        this.coin = "OVERVIEW";
        this.overview = true;
        var data = {'symbol': 'total'}
        this.$nuxt.$emit('getNewTimeFrame', 'ONEDAY', data);
    }
},

 mounted(){
 this.$nuxt.$on("getNewTimeFrame", (timeframe, data) => {
       if (data == 'total' || data.symbol == 'total'){
            return
        }
        this.overview = false;
        this.coin = data.Coin;
        this.coin_image = data.symbol.toLowerCase();
        this.currentData = data;
        this.chartfilter = 'ONEDAY';
  })
 },
components:{
PortfolioChart,
PageLoader
}
}

</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
.coin-pad{
    margin-right:50%;
}
.home{
    background: black;
    border: none;
}
.crosshairWrapper {
    position: absolute;
    z-index: 5;
    left: 75px;
}
.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
.padding{
    white-space: nowrap;
}
.white3{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-right:10px;
}
.white2{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
    margin-left:10px;
}
.white{
    color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.invert{
    filter: brightness(0);
}
/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 25px;
}
/* Track */
::-webkit-scrollbar-track {
    background: #1f1d1d; 
        border-radius: 25px;

}
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(78, 73, 73); 
        border-radius: 25px;

}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
}
.chart-filter-pad{
background: rgb(0, 0, 0);
text-decoration: none;
color: white;
white-space: nowrap;
padding-left: 15px;
padding-right: 15px;
}
.chart-filter-pad-sel{
text-decoration: none;
color: white;
padding-left: 10px;
padding-right: 10px;
padding-top: 7px;
padding-bottom: 7px;
border-radius: 25%;
}
.dropbtn {
    background-color: black;
    color: white;
    min-width:100px;
    margin: 10px;
    margin-right:0%;
    padding:1px;
    font-size: 11px;
    border-style: solid;
    border-width: 2px;
  border-color: white;
    cursor: pointer;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    padding-top:1%;
    padding-left: 15px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    font-size: 11px;
    display: none;
    position: absolute;
    background-color: black;
    min-width: 125px;
        height:90px;
    overflow-y:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:black;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}
.filter-padding{
    padding-top: 1%;
}
.button-hover{
    cursor: pointer;
}
.btn-fil-white{
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
    color: rgb(0, 0, 0) !important;
    background-color: #ffffff !important; 
    border-style: solid;
    border-width: 2px;
    border-color:#ffffff;
    border-radius: 5px;
    height: 27px;
    position: relative;
    top:3px;
    cursor: pointer;
        Margin-right:10px;
}
.btn-fil-white2{
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;    
    color: rgb(255, 255, 255) !important;
    background-color: #000000 !important; 
    border-style: solid;
    border-width: 2px;
    border-color:#ffffff;
    border-radius: 5px;
    height: 27px;
    position: relative;
    top:3px;
    cursor: pointer;
    Margin-right:10px;
}
.center{
    margin-left: auto;
    margin-right:auto;
}
</style>