<template>
  <div class="bg" style="overflow-x:hidden overflow-y:scroll;">
    <div class="table-wrap">
      <b-table small striped hover @sort-changed="sortingChanged" :fields="fields" :filter="searchfilter" :items="finalList" caption-top class="tabletext">
        <template slot="HEAD_Closed" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Trade Date/Time 
</div>
 </template>
<template slot="HEAD_Exchange" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="dropdown">
  <button class="dropbtn nowrap table-labels">Exchange {{exchange}}</button>
  <div class="dropdown-content">
    <a href="#" @click.stop v-on:click="filterExchange('all')">All</a>
    <a href="#" @click.stop v-on:click="filterExchange('bittrex')">Bittrex</a>
    <a href="#" @click.stop v-on:click="filterExchange('gdax')">Gdax</a>
    <a href="#" @click.stop v-on:click="filterExchange('binance')">Binance</a>
  </div>
</div>
 </template>

  <template slot="HEAD_Market" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="dropdown">
  <button class="dropbtn nowrap table-labels">Market {{market}}</button>
  <div class="dropdown-content">
    <a href="#" @click.stop v-on:click="market = '', filterMarket()">All</a>
    <a href="#"  @click.stop v-on:click="market = 'Test', filterMarket()">{{market}}</a>
  </div>
</div> 
 </template>
        <template slot="HEAD_Price" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Price 
</div>
 </template>
 <template slot="HEAD_OrderType" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Order Type
</div>
 </template>
  <template slot="HEAD_Amount" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Amount
</div>
 </template>
  <template slot="HEAD_newCost" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Cost
</div>
 </template>
   <template slot="HEAD_historicalValue" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
 Historical Value
</div>
 </template>
   <template slot="HEAD_currentValue" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  CurrentValue
</div>
 </template>
   <template slot="HEAD_change" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  % Change
</div>
 </template>
 <template slot="HEAD_Commission" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  Fees
</div>
 </template>
<template slot="HEAD_tradechange" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="table-labels">
  % Change
</div>
 </template>
         <template slot="Closed" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
{{item.value}}</div>
 </template>
<template slot="Exchange" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.value}}
</div>
 </template>

  <template slot="Market" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
 {{item.value}}
</div> 
 </template>
        <template slot="Price" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.value}}
</div>
 </template>
 <template slot="OrderType" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.value}}
</div>
 </template>
  <template slot="Quantity" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
  {{item.text}}
</div>
 </template>
  <template slot="newCost" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext float-right">
  {{item.value}}
</div>
 </template>
   <template slot="historicalValue" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext float-left">
 {{item.value}}
</div>
 </template>
   <template slot="currentValue" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext float-left">
  {{item.value}}
</div>
 </template>
   <template slot="tradechange" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
        <div class="tabletext">
        <span :style="getColor(item.value)">{{item.value}}%</span>
        </div>
 </template>
<template slot="Commission" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext float-right">
  {{item.value}}
</div>
 </template>
      </b-table>
  </div>
    <div class="loadover">
  <page-loader v-if="loader" />
  </div>
    </div>
</template>

<script>
import { serverBus } from '../../main';
import PageLoader from '../loader/PageLoader'


export default {
  name: 'TradingHistoryChart',
    components: {
      PageLoader
  },
  data () {
    return {
            loader: false,
            market: '',
            exchange: '',
            resetData: null,
            finalList: [],
            fields: [
              { key: 'Closed',
                label: "Trade Date/Time",
                sortable: true
              },
              { key: 'Exchange', 
                label:"Exchange"
              },
              {
                key:'Market',
                label:"Market"
              },

              {
                key:"OrderType",
                label:"OrderType",
                sortable:true
              },
              {
                key: "Amount",
                label: "Amount",
              },
              {
                key: "Price",
                label: "Price",
                sortable: true
              },
              {
                key: "newCost",
                label: "Cost",
              },
              {
                key: "historicalValue",
                label: "Historical Val",
                sortable: true
              },
                            {
                key: "currentValue",
                label: "Current Val",
                sortable: true
              },
                            {
                key: "tradechange",
                label: "% Change",
                sortable: true
              },
              {
                key: "Commission",
                label: "Fees",
                sortable: true
              }
              
              ],
    }
  },
mounted() {

 serverBus.$on("tradeLoaderOff", (data) =>{
     this.loader = data
 }),

serverBus.$on("tradeDataChange", (val) => {
  this.tradeData = val;
  this.updateTable();
})
},
props:['tradeData', 'searchfilter'],
methods: {
  getColor (num) {
    var iNum = parseFloat(num);
    if (iNum < 0) {
      return {'color': 'red'}
    } else{
      return {'color':'green'}
    }
  },
      sortingChanged(ctx){
        this.finalList = []
        this.loader = true
        var direction = ""
        var sortby = ctx.sortBy
        if (ctx.sortDesc == true) {
            direction = "down"
        } else {
            direction = "up"
        }
        var sortObj = { 'direction': direction, "sortby": sortby }
        serverBus.$emit("sortTrades", (sortObj) )
        return
    },
filterExchange(exchange){
serverBus.$emit("tradeHistoryExchange", (exchange));
  },
    checkZero(num){
      if (isNaN(num) || num == 0){
        return "-"
      }
      var number = num.toLocaleString('en')
      if (number.includes(".")){
          var parts = number.split(".")
          parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",")
          return parts.join(".")
      } else {
          return number.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      }
  },
updateTable(){
  this.finalList = [];
  try {

    for(var element in this.tradeData.editedorders){

      this.finalList.push({ 
      Closed: this.tradeData.editedorders[element].Closed, 
      Exchange: this.tradeData.editedorders[element].Exchange, 
      Market: this.tradeData.editedorders[element].Market, 
      OrderType: this.tradeData.editedorders[element].OrderType, 
      Amount: this.checkZero(Number.parseFloat(this.tradeData.editedorders[element].Amount).toFixed(8)),  
      Price: this.checkZero(Number.parseFloat(this.tradeData.editedorders[element].Price).toFixed(8)), 
      newCost:  this.checkZero(Number.parseFloat(this.tradeData.editedorders[element].Cost ).toFixed(8)),  
      Commission: this.checkZero(Number.parseFloat(this.tradeData.editedorders[element].Commission).toFixed(8)),
      historicalValue: this.checkZero(Number.parseFloat(this.tradeData.editedorders[element].historicalValue).toFixed(2)),
      currentValue: this.checkZero(Number.parseFloat(this.tradeData.editedorders[element].currentValue).toFixed(2)),
      tradechange: this.checkZero(Number.parseFloat(this.tradeData.editedorders[element].percentChange).toFixed(2)),
      _rowVariant: "dark2"})
    }
                  

    } catch (e){
  }
    }
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.table-dark2:nth-child(odd){
  background-color: rgb(10, 10, 10) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-dark2:nth-child(even){
  background-color: rgb(0, 0, 0) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-wrap
{
    height:660px;
    width:100%;
    position: relative;
    overflow: scroll; 
    overflow-x: hidden; 
    margin-top: 16px;
}
.bg{
  background-color: black;
}
.white{
  color: white;
}
.green{
  color: green;
}
.red{
  color: rgb(0, 17, 255);
}
.square {
  height: 22px;
  width: 7px;
  position:relative;
}
.gray{
  background-color:rgb(32, 32, 32);
}
.search{
  width: 100px;
  border: 2px solid rgb(204, 204, 204);
  background: transparent;
  border-radius: 25px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none
}
* {
    outline-style: none
}
.borderblack{
  background: black;
  position: relative; 
  margin-top:52px;
  z-index:5;
}
.square2 {
  height: 10px;
  width: 1000px;
  position:relative;
  background: rgb(0, 0, 0);
  top:1px;
  z-index: 5;
}
/* width */
::-webkit-scrollbar {
    width: 7px;
    border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1f1d1d; 
        border-radius: 25px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(78, 73, 73); 
        border-radius: 25px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
}

/* Dropdown Button */
.dropbtn {
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 13px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: rgb(0, 0, 0);}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #000000;}
</style>
