<template>

  <div class="font wrapper">
      <div class="d-block d-xl-block">
    <b-row class="wrapper2">
        <b-col cols="12">
            <b-row>
                 <b-col cols="3">
            <div align="left" class="filter-space"><br>
               <h5>TRADE HISTORY</h5>
            </div>
                </b-col>
                <b-col cols="3">
            <div align="left" class="filter-space" style="position: relative; left: -12px;"><br>
<!--<button type="button"  @click="show2=true" variant="primary"  class="btn-fil">Add</button>-->
              <!--  <button type="button"  @click="show=true" variant="primary"  class="btn-fil">Filter</button> -->
            </div>
                </b-col>
                 <b-col cols="3">
            <div style="float:right; position:relative; right:-80%; z-index:99;"><br>
            <b-form-input v-model="search"  class="search" placeholder="   Search" />
            </div>
                </b-col>
                 <b-col cols="3">
          
                </b-col>
            </b-row>
        </b-col>
    </b-row>
<b-row>
</b-row>
</div>
    <div class="hide-head" style="position: relative; top:-3px; z-index: 9;"></div>
    <TradeHistoryBig :searchfilter="search"  :tradeData="history" style="position:relative; top:-20px;"></TradeHistoryBig>
  <b-row>
    <b-col>
      <pagination></pagination>
    </b-col>
  </b-row>
<!-- MODAL -->
<div>
    <b-modal v-model="show"
             title="Filter"
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant"
             :body-bg-variant="bodyBgVariant"
             :body-text-variant="bodyTextVariant"
             :footer-bg-variant="footerBgVariant"
             :footer-text-variant="footerTextVariant">
       <b-container fluid>
            <b-row>
  <b-col cols="12">
      <b-row>
      <h5 class="float-left">Date Range</h5>
      </b-row>
          <b-row>
      <label class="float-left">From:</label>
          </b-row>
<vue-ctk-date-time-picker
v-model="from"
color="black"
></vue-ctk-date-time-picker>
    <b-row>
      <label class="float-left">To:</label>
    </b-row>
<vue-ctk-date-time-picker
v-model="to"
color="black"
></vue-ctk-date-time-picker><br>
<b-row>
    <b-container>
    <b-row>
    <h5 class="float-left">Choose Exchange</h5>
    </b-row>
    </b-container>
    <b-col cols="12">
    <b-row>
     <b-form-group style="position: relative; left: 13px;">
      <b-form-checkbox-group v-model="selected"
                             buttons
                             button-variant="info"
                             size="md"
                             name="buttons2"
                             :options="options">
      </b-form-checkbox-group>
    </b-form-group>
    </b-row>
    </b-col>
</b-row>
  </b-col>
  <b-container>
    <b-row>
    <h5 class="float-left">Choose Markets</h5>
    </b-row>
    </b-container>
    <b-row>
        <b-col cols="12">
             <div>
    <b-form inline style="position: relative; right: - 10px;">
      <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0" style="position: relative; right: -13px;">
    <b-form-input v-model="marketModel" type="text" list="markets" placeholder="Markets" ></b-form-input>
    <b-button class="modal-but" variant="primary" v-on:click="addedMarkets.push(marketModel)" style="position:relative; right: -15px;">ADD</b-button>
    <b-button variant="info" v-on:click="addedMarkets = ''" style="position:relative; right: -25px;">&#8634;</b-button>
    <datalist id="markets">
    <option value="BTC" />
    </datalist>
    </b-input-group>
    </b-form>
  </div>
    </b-col>
    </b-row>
    <b-col cols="11"><br>
    <b-row>
    <div class="table-wrapper" style="position: relative; right:  -12px;" >
        <span v-for="element in addedMarkets" :key="element" class="item">
           <span>{{ element }}</span>
           </span>
    </div>
    </b-row>
    </b-col>
        </b-row>
       </b-container>
       <div slot="modal-footer" class="w-100">
         <p class="float-left black">Apply Filter</p>
         <div >
         <b-btn size="sm" class="float-right" variant="danger"  @click="show=false">
           Close
         </b-btn>
         </div>
         <div style="position:relative; left: -10px;">
         <b-btn size="sm" class="float-right modal-but" @click="applyFilter">
            Apply
        </b-btn>
         </div>
       </div>
    </b-modal>
  </div>
<!-- MODAL ADD -->
<div>
    <b-modal v-model="show2"
             title="Add Order"
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant"
             :body-bg-variant="bodyBgVariant"
             :body-text-variant="bodyTextVariant"
             :footer-bg-variant="footerBgVariant"
             :footer-text-variant="footerTextVariant">
       <b-container fluid>
            <b-row>
  <b-col cols="12">
      <b-row>
      <h5 class="float-left">Date</h5>
      </b-row>
          <b-row>
      <label class="float-left">TimeStamp:</label>
          </b-row>
<vue-ctk-date-time-picker
v-model="from"
color="black"
></vue-ctk-date-time-picker>
<b-row>
    <b-container>
    <b-row>
    <h5 class="float-left">Choose Exchange</h5>
    </b-row>
    </b-container>
    <b-col cols="12">
    <b-row>
     <b-form-group style="position: relative; left: 13px;">
      <b-form-checkbox-group v-model="selected"
                             buttons
                             button-variant="info"
                             size="md"
                             name="buttons2"
                             :options="options">
      </b-form-checkbox-group>
    </b-form-group>
    </b-row>
    </b-col>
</b-row>
  </b-col>
  <b-container>
    <b-row>
    <h5 class="float-left">Options</h5>
    </b-row>
    </b-container>
    <b-row>
        <b-col cols="12">
             <div>
    <b-form inline style="position: relative; right: - 10px;">
      <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0" style="position: relative; right: -13px;">
    <b-form-input v-model="exchangeModel" type="text" list="orders" placeholder="Order Type" ></b-form-input>
    <datalist id="orders">
    <option value="BTC" />
    </datalist>
    </b-input-group>
    </b-form>
  </div>
    </b-col>
    </b-row>
     <b-row><br>
        <b-col cols="12">
             <div>
    <b-form inline style="position: relative; right: - 10px;">
      <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0" style="position: relative; right: -13px;">
    <b-form-input v-model="marketModel" type="text" list="markets" placeholder="Market" ></b-form-input>
    <datalist id="markets">
    <option value="BTC" />
    </datalist>
    </b-input-group>
    <br><br>
    </b-form>
  </div>
    </b-col>
    </b-row>
        </b-row>
       </b-container>

  <b-row>
        <b-col cols="12">
             <div>
    <b-form inline style="position: relative; right: - 10px;">
      <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0" style="position: relative; right: -13px;">
    <b-form-input v-model="amounteModel" type="text" list="amounts" placeholder="Amount" ></b-form-input>
    <datalist id="amounts">
    <option value="BTC" />
    </datalist>
    </b-input-group>
    </b-form>
  </div>
    </b-col>
    </b-row>
     <b-row><br>
        <b-col cols="12">
             <div>
    <b-form inline style="position: relative; right: - 10px;">
      <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0" style="position: relative; right: -13px;">
    <b-form-input v-model="costsModel" type="text" list="costs" placeholder="Cost" ></b-form-input>
    <datalist id="costs">
    <option value="BTC" />
    </datalist>
    </b-input-group>
    <br><br>
    </b-form>
  </div>
    </b-col>
    </b-row>
   <b-row>
        <b-col cols="12">
             <div>
    <b-form inline style="position: relative; right: - 10px; top:-4px;">
      <b-input-group left="@" class="mb-2 mr-sm-2 mb-sm-0" style="position: relative; right: -13px;">
    <b-form-input v-model="feesModel" type="text" list="fees" placeholder="Fees" ></b-form-input>
    <datalist id="fees">
    <option value="BTC" />
    </datalist>
    </b-input-group>
    <br><br>
    </b-form>
  </div>
    </b-col>
    </b-row>

       <div slot="modal-footer" class="w-100">
         <p class="float-left black">Apply Filter</p>
         <div >
         <b-btn size="sm" class="float-right" variant="danger"  @click="show2=false">
           Close
         </b-btn>
         </div>
         <div style="position:relative; left: -10px;">
         <b-btn size="sm" class="float-right modal-but" @click="applyFilter">
            Apply
        </b-btn>
         </div>
       </div>
    </b-modal>
  </div>

  </div>
</template>

<script>
import TradeHistoryBig from '@/components/tradehistorybig/TradeHistoryBig'
import Pagination from '@/components/pagination/Pagination'

import Vue from 'vue'
import VueCtkDateTimePicker from 'vue-ctk-date-time-picker';
import 'vue-ctk-date-time-picker/dist/vue-ctk-date-time-picker.min.css';
Vue.component('vue-ctk-date-time-picker', VueCtkDateTimePicker);

export default {
  props: ['history'],
  name: 'TradeFilterBar',
  data () {
    return {
      exchangeModel: null,
      feesModel: null,
      costsModel: null,
      amounteModel: null,

      addedMarkets: [],
      marketModel: '',
      search: '',
      currency: null,
      from: null,
      to: null,
      show: false,
      show2: false,
      variants: [
        'primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'
      ],
      headerBgVariant: 'secondary',
      headerTextVariant: 'light',
      bodyBgVariant: 'dark',
      bodyTextVariant: 'light',
      footerBgVariant: 'secondary',
      footerTextVariant: 'light',
      selected: [], // Must be an array reference!
      options: [
        {text: 'BITTREX', value: 'bittrex'},
        {text: 'GDAX', value: 'gdax'},
        {text: 'CRYPTOPIA', value: 'cryptopia'},
        {text: 'BINANCE', value: 'binance'}
      ],
  }
  },
    components: {
    TradeHistoryBig,
    Pagination
    },
methods:{
    applyFilter () {
      var that = this;
      var token = sessionStorage.getItem('token');
      var url = this.$parent.endpoint + 'getorders';
      var header =  {          
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          'Authorization': 'Basic '+btoa(token+':unused')}
      fetch(url, {
        method: "POST",
       // body: JSON.stringify({'exchange': this.watchExchanges, 'base': base, 'counter': counter, 'action': 'add'}),
        credentials: 'same-origin',
        headers: header,
        mode: 'cors'
      }).then(function (response) {
       return response.json();
      }).then(function (jsonResponse) {
        alert(jsonResponse.result);
      that.watchListVal = jsonResponse.watchList;
      return jsonResponse;
      })
    }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.item + .item:before {
  content: ", ";
}
.drpbut{
    background-color: black !important;

}
.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
.but-space{
        padding-left: 50px;
        padding-right: 10px;
}
.modal-but{
    background-color: black !important;
    border: none !important;
}
.black{
    color: black !important;
}
.hide-head{
  background-color: rgb(0, 0, 0);
  width:100%;
  height:1px;
}
.dropbtn {

    background-color: black;
    color: white;
    min-width:90px;
    margin-right:0%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    height: 27px;
    font-size: 11px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 125px;
    height:90px;
    overflow-y:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.size{
  width: 50px;
}
.btn-fil{
    color: white !important;
    background-color: black !important; 
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11px;
}
.btn-fil{
  height: 27px !important;
}
.search{
  width: 80px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 25px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none;
  font-size: 11px;
}
.table-wrapper
{
    height:100px;
    position: relative;
    right:-27px;
    overflow: scroll; 
    overflow-x: hidden; 
    background-color: black; 
}
ul{
    list-style: none;
}

</style>
