@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
@import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300|Righteous|Shrikhand');


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.blue {
  color: rgb(204, 223, 255) !important;
  font-family: 'Righteous', cursive;
  font-size: 20px;
  position: relative;
}

body{
  background-color: black;
  color:white;
  overflow-x: hidden;
}
.page-enter-active, .page-leave-active {
  transition: opacity .3s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
.bgAll {
  background-color: black;
}

.nav-pad {
  margin-bottom: 35px;
}

.timeDate{
    width: 100%;
    height:45px;
    border-width: 0px;
    border-radius: 5px;
    background-color:rgb(255, 255, 255) !important;
}
.title{
  font-size: 14px !important;
  font-weight: bold;
}
.title2{
  font-size: 20px !important;
}
.table-labels{
  font-size: 12px !important;
  font-weight: bold;
}
.tabletext{
  font-size: 11px !important;
}
.buttontext{
    font-size: 14px !important;
}
.bordertable{
  border:red;
  border-style: solid;
  border-width: 5px;
}
button {
  outline: none !important;
  cursor: pointer !important;
}
.apexcharts-tooltip {
  font-size: 17px !important;
  font-weight: bold;
  background: #ff000000 !important;
  color: rgba(255, 255, 255, 0) !important;
  border: none !important;
  border-bottom: black !important;
  width: 100% !important;
  border-radius: 0px !important;
  outline: none !important;
  -webkit-box-shadow: none;
	-moz-box-shadow: none;
	 box-shadow: none;
}
.apexcharts-xaxistooltip {
  background: #000000c9;
  color: #fff;
  border: none;
}

.apexcharts-yaxistooltip {
  background: #096ff5;
  color: #fff;
  border: none;
}

.btn-fil{
    color: white !important;
    background-color: black !important; 
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    height: 25px;
}
.nowrap{
  white-space: nowrap;
}


.head-dark2{
  background: black;
  border: black;
}
* {
    outline-style: none
}
.black{
  color:black;
}
[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }
.table-dark2:nth-child(odd){
  background-color: rgb(27, 26, 26) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-dark2:nth-child(even){
  background-color: rgb(10, 10, 10) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-dark2{
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
} 
.table-dark3{
  background: linear-gradient(to right, rgba(0,208,220, 0.229) , black);
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
}
/* width */
::-webkit-scrollbar {
    width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #131212; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(77, 72, 72); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
}
.table-wrapper
{
    height:350px;
    width:100%;
    position: relative;
    overflow: scroll; 
    overflow-x: hidden; 
}
.table-pad{
  margin-top: -20px;
 padding-right:1%;
}
.page-item.disabled .page-link {
    color: white;
  background:black 
}
.loadover {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.page-link {
  color: white;
  background:black 
}

.page-item.active .page-link{
  background-color: white;
  color: black;
  border-color:  white
}
.bg-black{
    background: black;
    border: black;
}
.thick {
     font-weight: 900;
}
