<template>
    <div id="app">
        <!-- Main table element -->
        <div class="row">
            <div class="col-12">
                <div style="position: relative; top: 10px; float: right; z-index:99;">
                    <input v-on:click="resetgraph()" v-model="filter" class="search" placeholder="   Search" />
                </div>
                <div class="text-left title" style="position: relative; top:10px;">Asset List</div>
            </div>
        </div>
        <div class="square2"></div>
        <div style="overflow-x:hidden;" class="borderblack">
            <div  style="overflow-y: scroll;" class="wrapper">
            <b-table small @sort-changed="sortingChanged" :items="finalList" :fields="fields" :filter="filter" v-on:row-clicked="rowClicked" hover1 class="tabletext">
                <template slot="HEAD_Coin" slot-scope="item">
                    <!-- A custom formatted header cell for field 'name' -->
                    <div class="table-labels">
                        Asset
                    </div>
                </template>
                <template slot="HEAD_Amount" slot-scope="item">
                    <!-- A custom formatted header cell for field 'name' -->
                    <!-- A custom formatted header cell for field 'name' -->
                    <div class="dropdown">
                        <button class="dropbtn nowrap table-labels" style="font-weight: bold;">{{balOrallo}}</button>
                        <div class="dropdown-content">
                            <p style="font-weight: bolder;" @click.stop v-on:click="allocation_sort('allocation', setFiat )">Allocation%</p>
                            <p style="font-weight: bolder;" @click.stop v-on:click="allocation_sort('balance', setFiat)">Balance</p>
                        </div>
                    </div>
                </template>
                <template slot="HEAD_Price" slot-scope="item">
                    <!-- A custom formatted header cell for field 'name' -->
                    <div class="dropdown">
                        <button class="dropbtn nowrap table-labels" style="font-weight: bold;">Price ({{pick_currency_Price}})</button>
                        <div class="dropdown-content">
                            <p style="font-weight: 200;" @click.stop v-on:click="getCurrency('usdprice', 'usdvalue'), setFiat = 'usd'">{{defaultFiat}}</p>
                            <p style="font-weight: 200;" @click.stop v-on:click="getCurrency('btcprice', 'btcvalue'), setFiat = 'btc'">BTC</p>
                        </div>
                    </div>
                </template>
                <template slot="HEAD_Value" slot-scope="item">
                    <!-- A custom formatted header cell for field 'name' -->
                    <div class="dropdown">
                        <button class="dropbtn nowrap table-labels" style="font-weight: bold;">Value ({{pick_currency_Value}})</button>
                        <div class="dropdown-content">
                            <p style="font-weight: 200;" @click.stop v-on:click="getCurrency('usdprice', 'usdvalue')">{{defaultFiat}}</p>
                            <p style="font-weight: 200;" @click.stop v-on:click="getCurrency('btcprice', 'btcvalue')">BTC</p>
                        </div>
                    </div>
                </template>
                <template slot="HEAD_twentyfourchange" slot-scope="item">
                    <!-- A custom formatted header cell for field 'name' -->
                    <div class="table-labels">
                        24H
                    </div>
                </template>
                <template slot="block_label" scope="item">
                    <div :style="{'background-color': item.item.block_color}" class="square"></div>
                    {{item.value}}
                </template>

                <template slot="twentyfourchange" scope="item">
                    <span class="tabletext" :style="getColor(item.value)">{{getPrefix(item.value)}}%</span>
                </template>

                <template slot="Coin" scope="item">
                    <span :style="{ 'white-space': 'nowrap'}" class="float-left tabletext"> {{item.value}} </span>
                </template>

                <template slot="Amount" scope="item">
                    <span :style="{ 'white-space': 'nowrap'}" class="float-right tabletext"> {{item.value}}<a v-if="balOrallo == 'Allocation%'">%</a> </span>
                </template>

                <template slot="Value" scope="item">
                    <span :style="{ 'white-space': 'nowrap'}" class="float-right tabletext"> {{item.value}} </span>
                </template>

                <template slot="Price" scope="item">
                    <span :style="{'white-space': 'nowrap'}" class="float-right tabletext"> {{item.value}} </span>
                </template>
            </b-table>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable */

    export default {
        name: 'twentyFourHourCoin',
        props: ['balanceData', 'defaultFiat'],

        data() {
            return {
                setFiat: 'usd',
                charge: '',
                balOrallo: 'Balance',
                inProgress: false,
                choppedName: {},
                pick_currency_Price: this.defaultFiat,
                pick_currency_Value: this.defaultFiat,
                finalList: [],
                temp_list: [],
                rawData: this.balanceData.global,
                fiat: this.defaultFiat,
                filter: null,
                colors: {
                    'red': 'color3'
                },
                rowstyle: {},

                fields: [{
                        label: '',
                        key: 'block_label',
                        sortable: false,
                        class: 'green'
                    },
                    {
                        key: 'Coin',
                        sortable: true,
                    },
                    {
                        key: 'Amount',
                        sortable: true
                    },
                    {
                        key: 'Value',
                        sortable: true
                    },
                    {
                        key: 'Price',
                        sortable: true
                    },
                    {
                        label: '24H',
                        key: 'twentyfourchange',
                        sortable: true,
                    },
                ]
            }
        },
        created() {

        },
        methods: {
              getColor (num) {
    var iNum = parseFloat(num);
    if (iNum < 0) {
      return {'color': 'red'}
    } else{
      return {'color':'green'}
    }},
            getPrefix(val){
            if(val < 0){
                return val
            }else{
                return '+' + val.toString();
            }
            },
            checkZero(num, type) {
                if (isNaN(num) || num == 0) {
                    return "-"
                }
                let percision = (num < 1  && type != "btc") ?  4 : (type == "btc") ? 8:2;
                let number = num.toLocaleString('en', { maximumFractionDigits: percision, minimumFractionDigits: percision})
                return number
            },
            sortingChanged(ctx) {
                this.sortTable(ctx.sortBy, ctx.sortDesc);
            },
            sortTable(title, order) {
                if (title != 'Coin') {
                    if (order == false) {
                        this.temp_list.sort((a, b) => parseFloat(a[title]) - parseFloat(b[title]));
                    } else {
                        this.temp_list.sort((a, b) => parseFloat(b[title]) - parseFloat(a[title]));
                    }
                } else {
                    if (order == false) {
                        this.temp_list.sort((a, b) => a[title].localeCompare(b[title]));
                    } else {
                        this.temp_list.sort((a, b) => b[title].localeCompare(a[title]));
                    }
                }
            },
            clearTable() {
                for (var eachItems in this.finalList) {
                    this.finalList[eachItems]._rowVariant = "dark2";
                }
            },
            getCurrency(price, value) {
                this.finalList = [];
                var color = ''
                let that = this;

                if (that.balOrallo == 'Balance'){
                for (var eachItem in this.rawData) {
                    if (eachItem != 'computed') {
                        if (this.rawData[eachItem].twentyfourchange < 0) {
                            color = 'rgb(255, 73, 73)';
                        } else {
                            color = 'rgb(51, 148, 59)';
                        }
                        if (price == 'btcprice') {
                            that.pick_currency_Price = 'BTC'
                            that.pick_currency_Value = 'BTC'
                            that.setFiat = 'btc'
                            var newprice = "btcprice"
                            var newvalue = "btcvalue"
                        } else {
                            var newprice = this.defaultFiat.toLowerCase()+"price"
                            var newvalue = this.defaultFiat.toLowerCase()+"value"
                            that.pick_currency_Price = this.defaultFiat
                            that.pick_currency_Value = this.defaultFiat
                            that.setFiat = 'usd'
                        }
                        that.finalList.push({
                            isActive: true,
                            Coin: this.rawData[eachItem].Coin,
                            symbol: eachItem,
                            Amount: this.checkZero(Number.parseFloat(this.rawData[eachItem].Amount), 'usd'),
                            Value: this.checkZero(Number.parseFloat(this.rawData[eachItem][newvalue]), that.setFiat),
                            Price: this.checkZero(Number.parseFloat(this.rawData[eachItem][newprice]), that.setFiat),
                            twentyfourchange: Number.parseFloat(this.rawData[eachItem].twentyfourchange).toFixed(2),
                            color: color,
                            block_color: this.rawData[eachItem].Color,
                            _rowVariant: "dark2"
                        })
                    }
                }
                this.temp_list = (this.finalList);
            } else {
                                for (var eachItem in this.rawData) {
                    if (eachItem != 'computed') {
                        if (this.rawData[eachItem].twentyfourchange < 0) {
                            color = 'rgb(255, 73, 73)';
                        } else {
                            color = 'rgb(51, 148, 59)';
                        }
                        if (price == 'btcprice') {
                            that.pick_currency_Price = 'BTC'
                            that.pick_currency_Value = 'BTC'
                            var newprice = "btcprice"
                            var newvalue = "btcvalue"
                            that.setFiat = 'btc'
                        } else {
                            var newprice = this.defaultFiat.toLowerCase()+"price"
                            var newvalue = this.defaultFiat.toLowerCase()+"value"
                            that.pick_currency_Price = this.defaultFiat
                            that.setFiat = 'usd'
                            that.pick_currency_Value = this.defaultFiat
                        }
                        that.finalList.push({
                            isActive: true,
                            Coin: this.rawData[eachItem].Coin,
                            symbol: eachItem,
                            Amount: Number.parseFloat(this.rawData[eachItem].AllocationPercentage).toFixed(2),
                            Value: this.checkZero(Number.parseFloat(this.rawData[eachItem][newvalue]), that.setFiat),
                            Price: this.checkZero(Number.parseFloat(this.rawData[eachItem][newprice]), that.setFiat),
                            twentyfourchange: Number.parseFloat(this.rawData[eachItem].twentyfourchange).toFixed(2),
                            color: color,
                            block_color: this.rawData[eachItem].Color,
                            _rowVariant: "dark2"
                        })
                    }
                }
                this.temp_list = (this.finalList);
            }
            },
              allocation_sort(settings, fiat) {
                console.log(settings, fiat);
                let that = this;
                let thisAmount = 0;
                this.finalList = [];
                var setting = settings
                if (setting == 'balance') {
                    setting = 'Amount'
                    that.balOrallo = 'Balance'
                } else {
                    setting = 'AllocationPercentage'
                    that.balOrallo = 'Allocation%'
                }
                if (fiat == 'btc'){
                var fiatprice = 'btcprice';
                var fiatvalue = 'btcvalue';
                this.pick_currency_Price = 'BTC'
                }else{
                var fiatprice = this.defaultFiat.toLowerCase()+"price"
                var fiatvalue = this.defaultFiat.toLowerCase()+"value"
                this.pick_currency_Price = this.defaultFiat;
                }
                for (var eachItem in this.rawData) {
                    if (eachItem != 'computed') {
                        if (setting != 'balance'){           
                            thisAmount = this.checkZero(Number.parseFloat(this.rawData[eachItem][setting]), 'usd')
                        } else {
                            thisAmount = Number.parseFloat(this.rawData[eachItem][setting]).toFixed(2)
                        }
                        that.finalList.push({
                            isActive: true,
                            Coin: this.rawData[eachItem].Coin,
                            symbol: eachItem,
                            Amount: thisAmount,
                            Value: this.checkZero(Number.parseFloat(this.rawData[eachItem][fiatvalue]), fiat),
                            Price: this.checkZero(Number.parseFloat(this.rawData[eachItem][fiatprice]), fiat),
                            twentyfourchange: Number.parseFloat(this.rawData[eachItem].twentyfourchange).toFixed(2),
                            block_color: this.rawData[eachItem].Color,
                            _rowVariant: "dark2"
                        })
                    }
                }
                this.temp_list = (this.finalList);
            },
            rowClicked(item, index) {
                if (this.inProgress == true) {
                    return;
                }
                for (var eachItems in this.finalList) {
                    this.finalList[eachItems]._rowVariant = "dark2";
                }
                item._rowVariant = 'dark3';
                this.inProgress = true;
                var symbol1 = this.finalList[index].Coin.split("(");
                var symbol2 = symbol1[1].replace(")", "")
                this.$parent.selected = symbol2;
                var name = symbol2;
                var color = this.finalList[index].color;
                var sendData = {
                    'name': name,
                    'color': color
                };
                this.$nuxt.$emit('updateFromPerformers', sendData);
                this.$nuxt.$emit('updateFromTwentyFour', sendData);
                this.$nuxt.$emit('getNewTimeFrame', "ONEDAY", this.finalList[index])
                var that = this
                setTimeout(function() {
                    that.inProgress = false;
                }, 2000)
            }
        },
        mounted() {
            let that = this
            this.$nuxt.$on("getNewTimeFrame", (timeframe, data) => {
            if(data.symbol == 'total'){
                 for (var eachItems in this.finalList) {
                    this.finalList[eachItems]._rowVariant = "dark2";
                }
            }
            })
            this.$nuxt.$on("updateFromPerformers", (perfData) => {
                console.log(perfData);
                for (var eachItems in this.finalList) {
                    this.finalList[eachItems]._rowVariant = "dark2";
                }
                for (var elem in this.finalList) {
                    if (perfData.name == this.finalList[elem].symbol) {
                        this.finalList[elem]._rowVariant = "";
                        this.finalList[elem]._rowVariant = "dark3"
                    }
                }
            })
            var color = ''
            var fiatprice = this.defaultFiat.toLowerCase()+"price"
            var fiatvalue = this.defaultFiat.toLowerCase()+"value"
            for (var eachItem in this.rawData) {
                if (eachItem != 'computed') {
                    if (this.rawData[eachItem].twentyfourchange < 0) {
                        color = 'rgb(255, 73, 73)';
                    } else {
                        color = 'rgb(51, 148, 59)';
                    }
                        that.finalList.push({
                            isActive: true,
                            Coin: this.rawData[eachItem].Coin,
                            symbol: eachItem,
                            Amount: this.checkZero(Number.parseFloat(this.rawData[eachItem].Amount), 'usd'),
                            Value: this.checkZero(Number.parseFloat(this.rawData[eachItem][fiatvalue]), that.setFiat),
                            Price: this.checkZero(Number.parseFloat(this.rawData[eachItem][fiatprice]), that.setFiat),
                            twentyfourchange: Number.parseFloat(this.rawData[eachItem].twentyfourchange).toFixed(2),
                            color: color,
                            block_color: this.rawData[eachItem].Color,
                            _rowVariant: "dark2"
                        })
                }
            }
            this.temp_list = this.finalList;

        },
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    #price {
        z-index: 5;
        position: absolute;
        right: 100px;
        top: 5px;
    }


    .font-sm {
        font-size: 13px;
        white-space: initial;
    }

    .bg {
        background-color: black;
    }

    .white {
        color: white;
    }

    .green {
        color: green;
    }

    .red {
        color: rgb(0, 17, 255);
    }

    .square {
        height: 22px;
        width: 7px;
        position: relative;
    }

    .gray {
        background-color: rgb(32, 32, 32);
    }

    .search {
        width: 90px;
        border: 2px solid rgb(204, 204, 204);
        background: transparent;
        border-radius: 25px;
        height: 30px;
        font-family: 'Montserrat', sans-serif;
        color: white;
        font-weight: bold;
        outline-style: none;
        font-size: 12px;
    }

    * {
        outline-style: none
    }

    .borderblck {
      border: red;
      border-width: 1px;
      border-top-width: 4px;
      border-style: solid;
    }

    .square2 {
        height: 10px;
        width: 1200px;
        position: relative;
        background: rgb(0, 0, 0);
        top: 1px;
        z-index: 5;
    }

 
    /* width */
::-webkit-scrollbar {
    width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(77, 72, 72); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(0, 0, 0); 
}
.wrapper{
    height: 329px;
}
</style>