<template>
  <div class="font wrapper">
      <div class="d-block d-xl-block">
    <b-row class="wrapper2">
        <b-col cols="12">
            <b-row>
            <b-col cols="6">
            <div align="left" class="filter-space"><br>
            <h5 class="title">TRADE HISTORY</h5>
            </div>
            </b-col>
            <b-col cols="6" v-show="displayBar == 'on'">
            <div style="position:relative; top: 28px;right:-50%; z-index:5;">
            <div class="input-group-append">
            <button class="searchBtn" @click="refreshCoin()" type="button"><fa icon="redo"/></button>
            <input v-model="searchCoin" class="search" placeholder="    Search"  type="text">
            <button class="searchBtn" @click="searchByCoin()" type="button"><fa icon="search"/></button>
                      <div style="margin-left:10%;margin-top:1px;" v-show="tradeMenuBar == true" class="d-block d-xl-block">
                      <button class="size-button" v-on:click="tvChartLarge('lg')"><fa icon="compress"/></button>
                      <button class="size-button" v-on:click="tvChartLarge('xl')"><fa icon="expand"/></button>
                      <button class="size-button" v-on:click="tvChartLarge('xxl')"><fa icon="expand-arrows-alt"/></button>
                    </div>
            </div>
            </div>
            </b-col>
            </b-row>
        </b-col>
    </b-row>
<b-row>
</b-row>
</div>
    <div class="hide-head" style="position: relative; top:8px; z-index: 9;"></div>
     <br>
    <TradeHistoryChart :searchfilter="search"  :tradeDataHistory="history" style="position:relative; top:-35px;"></TradeHistoryChart>
  <b-row>
    <b-col>
      <div style="position:relative; top:-25px;">
      <pagination></pagination>
      </div>
    </b-col>
  </b-row>

  </div>
</template>
<script>
import TradeHistoryChart from '~/components/tradeHistoryChart/TradeHistoryChart'
import Pagination from '~/components/pagination/Pagination'


export default {
  props: ['history'],
  name: 'TradeFilterBar',
  data () {
    return {
      displayBar: 'off',
      tradeMenuBar: false,
      endpoint: this.$store.state.apiEndPoint,
      exchangeModel: null,
      feesModel: null,
      costsModel: null,
      amounteModel: null,
      addedMarkets: [],
      marketModel: '',
      searchCoin: null,
      search: '',
      currency: null,
      from: null,
      to: null,
      show: false,
      show2: false,
      variants: [
        'primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark'
      ],
      headerBgVariant: 'secondary',
      headerTextVariant: 'light',
      bodyBgVariant: 'dark',
      bodyTextVariant: 'light',
      footerBgVariant: 'secondary',
      footerTextVariant: 'light',
      selected: [], // Must be an array reference!
      options: [
        {text: 'BITTREX', value: 'bittrex'},
        {text: 'GDAX', value: 'gdax'},
        {text: 'CRYPTOPIA', value: 'cryptopia'},
        {text: 'BINANCE', value: 'binance'}
      ],
  }
  },
    components: {
    TradeHistoryChart,
    Pagination
    },
    mounted(){
    this.$nuxt.$on("tradeMenu", (val) => {
      console.log(val)
    let that = this;
    this.tradeMenuBar = val;
    if (val == true){
     that.displayBar = 'on'
    }else{
           that.displayBar = 'off'
    }
  })
    },
methods:{
     tvChartLarge(val){
    this.$nuxt.$emit('enlargeTvChart', val);
     },
    refreshCoin(){
        this.$nuxt.$emit('searchByCoinTrade', (null))
        this.searchCoin = null;
    },
    searchByCoin(){
        this.$nuxt.$emit('searchByCoinTrade', (this.searchCoin))
        this.searchCoin = null;
    },
    applyFilter () {
      var that = this;
      var token = sessionStorage.getItem('token');
      var url = this.endpoint + 'getorders';
      var header =  {          
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          'Authorization': 'Basic '+btoa(token+':unused')}
      fetch(url, {
        method: "POST",
       // body: JSON.stringify({'exchange': this.watchExchanges, 'base': base, 'counter': counter, 'action': 'add'}),
        credentials: 'same-origin',
        headers: header,
        mode: 'cors'
      }).then(function (response) {
       return response.json();
      }).then(function (jsonResponse) {
        alert(jsonResponse.result);
      that.watchListVal = jsonResponse.watchList;
      return jsonResponse;
      })
    }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.item + .item:before {
  content: ", ";
}
.drpbut{
    background-color: black !important;

}
.wrapper {
    margin-left:auto;
    margin-right:auto;
    margin-bottom: -40%;
    width:100%;
}
.but-space{
        padding-left: 50px;
        padding-right: 10px;
}
.modal-but{
    background-color: black !important;
    border: none !important;
}
.black{
    color: black !important;
}
.hide-head{
  background-color: rgb(0, 0, 0);
  width:100%;
  height:5px;
}
.dropbtn {

    background-color: black;
    color: white;
    min-width:90px;
    margin-right:0%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    height: 27px;
    font-size: 11px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 125px;
    height:90px;
    overflow-y:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.size{
  width: 50px;
}
.btn-fil{
    color: white !important;
    background-color: black !important; 
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 11px;
}
.btn-fil{
  height: 27px !important;
}
.search{
  width: 80px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 25px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none;
  font-size: 11px;
}

.searchBtn{
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 25px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none;
  font-size: 11px;
}
.table-wrapper
{
    height:100px;
    position: relative;
    right:-27px;
    overflow: scroll; 
    overflow-x: hidden; 
    background-color: black; 
}
ul{
    list-style: none;
}
.title{
 float:left;
}
.size-button{
  background-color:#1941af00;
  border: 1px solid #2e2b3000;
  color: rgb(110, 110, 110);
  padding-top:7px;
  padding-bottom:7px;
  margin-top:-2px;
  border-top:none;
  border-bottom: none;
  border-left: none;
}
</style>
