<template>
  <div>
  <div>
      <div class="bar" v-show="menu == true">
              <div class="row">
                <div class="col-6">
                    <div class="input-group mb-3">
                    <div class="input-group-append  d-none d-xl-block">
                      <div style="position: absolute; margin-top:0px; right:-100%" class="wrapper-size d-block d-xl-block">
                      <button class="size-button" v-on:click="tvChartLarge('lg')"><fa icon="compress"/></button>
                      <button class="size-button" v-on:click="tvChartLarge('xl')"><fa icon="expand"/></button>
                      <button class="size-button" v-on:click="tvChartLarge('xxl')"><fa icon="expand-arrows-alt"/></button>
                      <button class="size-button" v-on:click="tvChartLarge('none')"><fa icon="times-circle"/></button>
                    </div>
                    <!--  <input v-model="defaultSymbol" type="text" placeholder="MARKET" class="input"/>--></div>
                        <div class="dropdown pad">
                          <span class="white" style="position:relative; top:-1px;">Style: {{defaultStyle}}</span>
                          <div class="dropdown-content" style="z-index:100;">
                            <button  v-on:click="defaultStyle='1'">Style: 1</button>
                            <button  v-on:click="defaultStyle='2'">Style: 2</button>
                            <button  v-on:click="defaultStyle='3'">Style: 3</button>
                            <button  v-on:click="defaultStyle='4'">Style: 4</button>
                            <button  v-on:click="defaultStyle='5'">Style: 5</button>
                            <button  v-on:click="defaultStyle='6'">Style: 6</button>
                            <button  v-on:click="defaultStyle='7'">Style: 7</button>
                            <button  v-on:click="defaultStyle='8'">Style: 8</button>
                            <button  v-on:click="defaultStyle='9'">Style: 9</button>
                          </div>
                        </div>
                          <div class="pad" v-show="menu == true">
                              <span class="white" style="position:relative; top:-1px;">
                                <button style="font-size: 11px; color:white;  background-color: transparent;"  v-on:click="lightor()">Theme: {{defaultTheme}}</button>
                              </span>
                            </div>
                            <button v-show="menu == true" class="input-group-text save" id="basic-addon2" v-on:click="save()" style="margin-top:1px;" width="50%">Save</button>
                      </div>
                    </div>
                    </div>
                    </div>
                    </div>   
                    <div id="tvchart" :style="tvstyle"></div>
  </div>
</template>

<script>
export default {
   components: {
},
  name: 'TradingVieChart',
  data () {
    return {
        loading: true,
        grabClass: '',
        defaultSymbol: 'BTCUSD',
        defaultTheme: 'dark',
        defaultStyle: '1',
        tvstyle : {zIndex:'1',position:'relative', top:'-7px', height: '450px'},
        endpoint: this.$store.state.apiEndPoint,
        menu: true,
    }
  },
  created(){
      this.get_presets();
  },
  mounted(){
  this.$nuxt.$on("enlargeTvChart", (size) => {
    if (size == 'lg') {
      this.tvstyle.height = '450px';
      this.menu = true;
      this.$nuxt.$emit('tradeMenu', false);
    }else if (size == 'xl') {
      this.tvstyle.height = '726px';
      this.menu = true;
      this.$nuxt.$emit('tradeMenu', false);
    }else if (size == 'xxl') {
      this.tvstyle.height = '726px';
      this.menu = true;
      this.$nuxt.$emit('tradeMenu', false);
    }else if (size == 'none') {
      this.tvstyle.height = '0px';
      this.menu = false;
      this.$nuxt.$emit('tradeMenu', true);
    }
  })
  },
  methods:{
    mountChart(){
       new TradingView.widget(
  {
    "symbol": this.defaultSymbol,
    "interval": "D",
    "timezone": 'Etc/UTC',
    "theme": this.defaultTheme,
    "style": this.defaultStyle,
    "locale": "en",
    "toolbar_bg": "#f1f3f6",
    "enable_publishing": true,
    "allow_symbol_change": true,
    "autosize":true,
    "autoscale": true,
    "allow_symbol_change": true,
    "container_id": 'tvchart',
    "hide_side_toolbar": false,
    "hideideas": false,
    "lock":true
})
    },
    tvChartLarge(val){
    this.$nuxt.$emit('enlargeTvChart', val);
     },
        lightor(){
          if(this.defaultTheme == 'light'){
            this.defaultTheme = 'dark'
          }else {
            this.defaultTheme = 'light'
          }
        },
        save(){
        var dfin = document.getElementsByClassName("input-3lfOzLDc-")
        //this.defaultSymbol = dfin.value
        var token = sessionStorage.getItem('token')
        var that = this;
        var header =  {          
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          'Authorization': 'Basic '+btoa(token+':unused')}
         fetch(this.endpoint + "api/saveAnalysisPresets", {
          method:"POST",
          mode: 'cors',
          headers: header,
          body: JSON.stringify({'market': 'BTCUSD', 'theme': this.defaultTheme, 'style': this.defaultStyle})
          }).then(function(response){
            return response.json();
          }).then(function(response){
            that.mountChart();
            return response;
        })
    },
      get_presets(){
        var token = sessionStorage.getItem('token')
        let that = this;
         var header =  {          
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          'Authorization': 'Basic '+btoa(token+':unused')}
         fetch(this.endpoint + "api/analysisPresets", {
          method:"GET",
          mode: 'cors',
          headers: header,
          }).then(function(response){
            return response.json();
          }).then(function(response){
            that.defaultSymbol = response.tvoptions.market;
            that.defaultTheme = response.tvoptions.theme;
            that.defaultStyle = response.tvoptions.style;
            that.mountChart();
            return response;
        })
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.iframe-container {
  overflow: hidden;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  height: 440px;
  border: none;
  z-index: 99;
}
.size-button{
  background-color:#1941af00;
  border: 1px solid #2e2b3000;
  color: rgb(110, 110, 110);
  padding-top:7px;
  padding-bottom:7px;
  margin-top:-2px;
  border-top:none;
  border-bottom: none;
  border-left: none;
}
.fonts{
  font-family: 'Montserrat', sans-serif;
}
    button{
      background: #ffffff;
      color:rgb(0, 0, 0);
      border: none;
    }
    .white{
      color: white;
      font-size: 11px;
      border: 1px solid#363c4e;
      padding:11px;
      margin-right: 1px;
      position: relative;
      top:-2px;
    }
    .pad{
      margin-top:8px;
    }
    .bar{
      background-color:#131722; 
      width:100%;
      z-index: 10;
      height: 40px;
      margin-left: 0px;
    }
  .screen{
      height:100%
  }
  .input{
    margin-top: 1px;
    color:white;
    background-color: #131722;
    border:  1px solid#363c4e;
    height:38px;
  }
  input[type="text"], textarea {
  background-color : #131722; 
}
.save{
  color:white;
  background: #131722;
  cursor: pointer;
  border:  1px solid#363c4e;
  margin-right: 1px;
  font-size: 11px;
  height: 38px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.wrapper-def {
    margin-left:auto;
    margin-right:auto;
    width:600px; 
    height:900px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    font-size: 11px;
}

.dropdown:hover .dropdown-content {
    display: block;
}
</style>
