<template>
<div style="margin-bottom: -240px; margin-top:-50px" v-on:click="updateComponents()">   
        <div :style="{'background-color': elem.colorBlock}" style="position: relative; left: 10px; top:80px;" class="square"></div>
        <span class="title" style="position:relative; top:60px;left:25px;  display: block;text-align: left;">{{elem.coinName}}</span>
        <span class="title" style="position:relative; top:70px;left:-140px">Target:</span>
        <input type="number"  min="0" max="100" pattern="^\d*(\.\d{0,2})?$" step="0.01" style="z-index:1;position:relative;left:-140px;top:72px;width:60px;color:#0f8bab;background-color:transparent;border:none;" :placeholder="elem.target + '%'" v-on:keyup.enter="sendNewTarget(elem.symbol, elem.targetLock)"  :id="elem.symbol" />
        <allocation-bar :alloBar="elem"></allocation-bar>
        <target :alloBar="elem" style="position: relative; top:-90px"></target>
        <div class="pointer" v-on:click="lockAlloTargets(elem.symbol), elem.targetLock = !elem.targetLock">
            <fa class="pointer" v-if="elem.targetLock" style="font-size:11px; position:relative;top:-150px; left:100px;color:#616164;"  icon="lock" />
            <fa class="pointer" v-if="!elem.targetLock" style="font-size:11px; position:relative;top:-150px; left:100px;color:#616164;"  icon="lock-open" />
        </div>
            <fa v-if="elem.allocation == 0" class="pointer"  style="position:relative;top:-175px;right:-170px;color:white;font-size:11px;" @click="trash(elem.symbol, elem.target)" icon="trash" />
            <fa v-if="elem.allocation > 0" class="pointer"  style="position:relative;top:-175px;right:-170px;color:#616164;font-size:11px;"   icon="trash" />

</div>
</template>

<script>
import target from '~/components/coinsPageComponents/allocationBar/target'
import allocationBar from '~/components/coinsPageComponents/allocationBar/allocationBar'

export default {
            props: ['elem'],
            methods:{
                lockAlloTargets(symbol){
                    this.$nuxt.$emit('lockAlloTarget', symbol)
                },
                updateComponents() {
                    let that = this
                    this.$nuxt.$emit('radialData', that.elem)
                },
                        sendNewTarget(symbol, lock){
            let alloTarget = Number(document.getElementById(symbol).value);
            this.$nuxt.$emit('sendTarget', {'symbol' :symbol, 'lock':lock, 'target': alloTarget})
                },
                           trash(symbol, allocation) {
                               console.log(symbol, allocation)
                            this.$nuxt.$emit('deleteTarget', {'symbol':symbol, 'allocation':allocation})
                           }
            },

            components:{ 
                target,
                allocationBar
            },
            data() {
            return {
                loading: true,
                series:
                [
                   {data: [50]},
                   {data: [50]}
                ],
                chartOptions: {
                    fill: {
                        colors: ['#001718', '#222224'],
                        opacity: 1,
                        type: 'solid',
                        gradient: {
                            shade: 'dark',
                            type: "horizontal",
                            shadeIntensity: 1,
                            gradientToColors: ['#001718'],
                            inverseColors: false,
                            opacityFrom: 1,
                            opacityTo: 1,
                            stops: [60, 95]
                        },
                    },
                    grid: {
                        show: false,
                    },
                    chart: {
                        stacked: true,
                        toolbar: {
                            show: false
                        }
                    },
                    legend: {
                        show: false,
                    },
                    tooltip: {
                        enabled: false,
                    },
                    plotOptions: {
                        bar: {
                            horizontal: true,
                            barHeight: "10%",
                        }
                    },
                    dataLabels: {
                        enabled: false
                    },
                    xaxis: {
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false,
                        },
                        labels: {
                            show: false,
                        },
                    },
                    yaxis: {
                        axisBorder: {
                            show: false,
                        },
                        axisTicks: {
                            show: false,
                        },
                        labels: {
                            show: false,
                        },
                    }
                },
            }
        }
}
</script>

<style>
    .square {
        height: 15px;
        width: 10px;
        position: relative;
    }
        .pointer {
        cursor: pointer;
        z-index: 10;
    }

        /* For Firefox */
    input[type='number'] {
        -moz-appearance:textfield;
    }

    /* Webkit browsers like Safari and Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
</style>
