<template>
<div style="overflow-x: hidden;">
<b-container fluid>
<b-row>
    <b-col cols="12">
                    <div class="wrapper" v-on:click="updateComponents()" style="margin-bottom:25px;">
                    <div :style="{'background-color': elem.colorBlock, 'margin-bottom': '-80px', 'position': 'relative', 'top': '8px' }" style="position: relative; left:10px;" class="square">
                    </div>
                    <div class="title text-left" style="position:relative; top:70px;right:-20px;">{{elem.coinName}}</div>
                    <div class="title" style="position:relative; top:50px;text-right;"><a style="color:gray;position:absolute;top:30px;font-size:11px;left:30px;">Target</a>{{elem.allocation}}%</div>
                    <div class="title" style="position:relative; top:56px; left:50px;">
                            <target :alloBar="elem" style="position: absolute; top:-44px; left:-50px"></target>
                            <allocation-bar :alloBar="elem" style="position: absolute; top:-75px; left:-50px;"></allocation-bar>
                        <input type="number"  min="0" max="100" pattern="^\d*(\.\d{0,2})?$" step="0.01" style="z-index:1; width:60px;color:#0f8bab;background-color:transparent;position:relative;border:none;left:-35%" :placeholder="elem.target + '%'" v-on:keyup.enter="sendNewTarget(elem.symbol, elem.targetLock)"  :id="elem.symbol" />
                        <div class="pointer" v-on:click="lockAlloTarget(elem.symbol), elem.targetLock = !elem.targetLock">
                            <fa class="pointer" v-if="elem.targetLock" style="font-size:11px; position:absolute;top:6px; left:150px;color:#616164;"  icon="lock" />
                            <fa class="pointer" v-if="!elem.targetLock" style="font-size:11px; position:absolute;top:6px; left:150px;color:#616164;"  icon="lock-open" />
                        </div>
                        <div v-if="elem.allocation == 0" class="pointer" style="position:relative;top:-26px;right:-100px;" v-on:click="trash(elem.symbol)">
                        <fa style="color:white;font-size:11px;"  icon="trash" />
                        </div>
                        <div v-if="elem.allocation > 0" class="pointer"  style="position:relative;top:-23px;right:-100px;" v-on:click="trash(elem.symbol)">
                            <fa style="color:#616164;font-size:11px;"  icon="trash" />
                    </div>
                </div>
            </div>
    </b-col>
    </b-row>
</b-container>
</div>
</template>

<script>
import allocationBar from '~/components/coinsPageComponents/allocationBar/allocationBar'
import target from '~/components/coinsPageComponents/allocationBar/target'

export default {
    name: 'TopLevelAllocation',
    data () {
        return{
            endpoint: this.$store.state.apiEndPoint,
        } },
    props: ['elem'],
    components: {
            allocationBar,
            target
        },
    methods: {
                updateComponents() {
                    let that = this
                    this.$nuxt.$emit('radialData', that.elem)
                },
                lockAlloTarget(symbol){
                    this.$nuxt.$emit('lockAlloTarget', symbol)
                },
                trash(val) {
                    this.$nuxt.$emit('deleteTarget', val)
            },
        sendNewTarget(symbol, lock){
            var alloTarget = Number(document.getElementById(symbol).value);
            this.$nuxt.$emit('sendTarget', {'symbol' :symbol, 'lock':lock, 'target': alloTarget})
        }
    }
}
</script>

<style scoped>
    a:hover {
        color: rgb(255, 255, 255) !important;
        border-color: white !important;
    }

    .add {
        cursor: pointer;
        color: #616164 !important;
        font-size: 10px;
        position: absolute;
        right: 30px;
        top: -10px;
        border-color: #616164;
        border-style: solid;
        border-width: 2px;
        padding-top: 3px;
        padding-bottom: 3px;
        padding-right: 5px;
        padding-left: 5px;
        border-radius: 10px;
    }

    .square {
        height: 15px;
        width: 7px;
        position: relative;
    }


.wrapper{
    width:100%;
}
    .pointer {
        cursor: pointer;
        z-index: 10;
    }

    /* webkit solution */
    ::-webkit-input-placeholder {
        text-align: right;
    }

    /* mozilla solution */
    input:-moz-placeholder {
        text-align: right;
    }

    .scrollable {
        border: rgb(0, 0, 0);
        border-style: solid;
        height: 280px;
        overflow-x: hidden;
        overflow-y: scroll;
    }
    .bin {
        top: .5em;
    }
    .card-body {
        background: black !important;
    }

    .bit {
        top: .6em;
    }

    .bitr {
        top: 6px;
    }

    .block {
        background-color: rgb(1, 21, 26);
        opacity: 0.8;
    }

    .p2 {
        font-size: 15px;
        color: white;
    }

    .card-card_title {
        opacity: 0%;
    }

    .card-card_footer {
        opacity: 0%;
    }

    @import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300|Righteous|Shrikhand');

    .seethrough {
        opacity: 0%;
    }

    .signin {
        font-family: 'Anton', sans-serif;
        color: orangered;
    }

    .jumbo {
        background-color: transparent;
        top: 60px;

    }

    h1,
    h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    #bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -3;
    }

    .blue {
        color: rgb(204, 223, 255) !important;
        font-family: 'Righteous', cursive;
        font-size: 20px;
        position: relative;
    }

    .modaltitle {
        color: rgb(0, 90, 117);
    }

    .btn-fil-blue {
        color: white !important;
        background-color: #047ea4 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    .btn-fil-blue2 {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    input {
        background: #1a1a1a;
        color: white;
    }

    textarea {
        background: #1a1a1a;
        color: white;
    }

    textarea:focus {
        background: #1a1a1a;
        color: white;
    }

    input:focus {
        background: #1a1a1a;
        color: white;
    }
        /* For Firefox */
    input[type='number'] {
        -moz-appearance:textfield;
    }

    /* Webkit browsers like Safari and Chrome */
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.wrapper {
        height: 50px;
        width: 100%;
}
</style>
