<template>
    <div v-if="loading && $store.state.localStorage.authUser != 'loggedOut'" class="bg-layout">
        <navbar />
              <page-loader v-if="!$store.state.generalData" />
        <nuxt  />
        <footer class="fixed-bottom d-none d-md-block">
          <bottomtickercarousel v-if="$store.state.localStorage.status" :aggChartData="$store.state.localStorage.tickerData" :totalmarketdata="$store.state.localStorage.totalMarketCap" />
        </footer>
    </div>
</template>

<script>
import navbar from './partials/InsightNavbar.vue'
import bottomtickercarousel from '~/components/bottomticker/BottomTickerCarousel.vue'
import PageLoader from '~/components/loader/PageLoader'
export default {
      data() {
            return {
              loading: false
        }
    },
    method:{ 
        
    },
    components: {
        navbar,
        bottomtickercarousel,
        PageLoader
    },
    mounted(){
      if (this.$store.state.retrieving == false){
          this.$store.commit('updateRetrieving')
          let that = this
          this.$insightfetch("general").then(function(jsonResponse){
          that.$store.commit('updateGeneralData', jsonResponse);
        })
      }
      if (this.$store.state.localStorage.authUser == 'loggedOut') {
        this.$router.push('/')
      } else {
        this.loading = true
      }
    }
}
</script>


<style>
/* width */
::-webkit-scrollbar {
    width: 7px !important;
}

/* Track */
::-webkit-scrollbar-track {
    background: #00000000 !important 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(56, 55, 55) !important ; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(34, 33, 33) !important ; 
}
.title{
  font-size: 14px !important;
  font-weight: bold;
}
.title2{
  font-size: 20px !important;
}
.table-labels{
  font-size: 12px !important;
  font-weight: bold;
}
.tabletext{
  font-size: 11px !important;
}
.buttontext{
    font-size: 14px !important;
}
.inverted { 
    -webkit-filter: invert(100%);
    filter: invert(100%);
}
   /* Dropdown Button */
    .dropbtn {
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: 13px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: rgb(0, 0, 0);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #000000;
    }
    /* width */
::-webkit-scrollbar {
    width: 7px;
    height:7px;
    border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #000000; 
        border-radius: 25px;

}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(78, 73, 73); 
        border-radius: 25px;

}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgb(121, 120, 120); 
}
::-webkit-scrollbar-corner {
        background: rgb(0, 0, 0); 
}
</style>
