<template>
    <div>
        <div v-if="$store.state.generalData" class="page-margin d-block d-sm-block" style="margin-top:4%;">
                <b-col cols="12">
                     <!-- Custom Display Spacing -->
                            <span class="d-block d-sm-block  d-xl-none">
                                <div style="margin-bottom:11%;"></div>
                            </span>
                            <!-- END -->
                    <b-row>
                        <b-col col sm="12" xl="5">
                            <div style="margin-bottom: 12px;">
                            <token-table :userInfo="createMutable($store.state.generalData.userInfo)"></token-table>
                            </div>
                            <div style="margin-bottom: 12px;">
                            </div>
                            <div style="margin-bottom: 12px;">
                            <api-keys-table :all_keys="createMutable($store.state.generalData.apikeys)" />
                            </div>
                            <div style="margin-bottom: 12px;">
                            <wallet-table :addresses="createMutable($store.state.generalData.walletAddresses)"></wallet-table>
                            </div>
                        </b-col>
                        <b-col col sm="12" xl="3">
                            <div style="margin-bottom: 12px; margin-top:-12px;">
                                <!--<ui-settings></ui-settings>-->
                            </div>
                            <div style="margin-bottom: 12px;">
                                <RecentUpload :uploadHistory="createMutable($store.state.generalData.uploadHistory)"></RecentUpload>
                            </div>
                            <div style="margin-bottom: 12px;">
                                <UploadCsv></UploadCsv>
                            </div>
                        </b-col>
                        <b-col col sm="12" xl="4">
                            <div style="margin-bottom: 12px;">
                                <PaymentStatus :paymentHistory="createMutable($store.state.generalData.paymentHistory)"></PaymentStatus>
                            </div>
                            <div style="margin-bottom: 12px;">
                                <ConfigureUserOptions :userOptions="createMutable($store.state.generalData.userOptions)"></ConfigureUserOptions>
                            </div>
                            <div style="margin-bottom: 12px;">
                                <!-- <wallet-table></wallet-table>-->
                            </div>
                        </b-col>
                    </b-row>
                    <div style="margin-bottom:10%;"></div>
                            <!-- Custom Display Spacing -->
                            <span class="d-block d-sm-block  d-xl-none">
                                <div style="margin-bottom:20%;"></div>
                            </span>
                            <!-- END -->
                </b-col>
    </div>
    </div>
</template>

<script>
import TokenTable from '~/components/token/TokenTable'
import WalletTable from '~/components/token/WalletTable'
import RecentUpload from '~/components/token/RecentUpload'
import UploadCsv from '~/components/token/UploadCsv'
import PaymentStatus from '~/components/token/PaymentStatus'
import ConfigureUserOptions from '~/components/token/ConfigureUserOptions'
import ApiKeysTable from '~/components/apikeystable/ApiKeysTable'

export default {
    layout: 'authed',
    middleware: 'auth',
    data() {
    return {
    }
    },
    mounted () {
            if (this.$store.state.currentPage == null){
                this.$store.commit('updatePage', 'account')
            }
    },
    methods:{
        createMutable(data){
            let mutableData = JSON.parse(JSON.stringify(data))
            return mutableData
        }
        },
    components: {
        TokenTable,
        WalletTable,
        RecentUpload,
        UploadCsv,
        PaymentStatus,
        ConfigureUserOptions,
        ApiKeysTable
    },
}
</script>

<style>
.page-margin{
    margin-left:2%;
    margin-right:2%;
    margin-top: -2.5%;
}
    textarea {
        background: #1a1a1a;
        color: white;
    }

    textarea:focus {
        background: #1a1a1a;
        color: white;
    }

    input:focus {
        background: #1a1a1a;
        color: white;
    }
    .drop-input{
color:white;
background: #1a1a1a;
border:none;
font-size: 12px;
height:30px;
}
.drop-input:focus{
color:white;
background: #1a1a1a;
border:none;
font-size: 12px;
height:30px;
}
.drop-button{
color:white !important;
background: #000000;
border:none;
font-size: 12px;
}
    .btn-fil-blue {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    .btn-fil-yellow {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a3972d;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    .btn-fil-red {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a41704;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
       input {
        background: #1a1a1a;
        color: white;
    }

</style>
