<template>
    <div v-if="$store.state.generalData" class="page-container d-block d-sm-block" :style="topStyle">
     <b-container fluid style="overflow-y:hidden;overflow-x:hidden" >
           <!-- Custom Display Spacing -->
                        <span class="d-block d-sm-block d-xl-none">
                            <div style="margin-top:9%;"></div>
                        </span>
                        <!-- END -->
    <b-row>
       <b-col :cols="tradeCol">
        <trading-view-chart></trading-view-chart>
                       <!-- Custom Display Spacing -->
                        <span class="d-block d-sm-block d-xl-none">
                            <div style="margin-top:20%;"></div>
                        </span>
                        <!-- END -->
        </b-col>
    
        <b-col col sm="12" xl="4">
            <watch-list  style="position:relative;top:1px;"
            v-show="chartSize == null || chartSize == 'expanded' || chartSize == 'closed'"
            :watchList="createMutable($store.state.generalData.watchList)"
            :balanceData="createMutable($store.state.generalData.balances)"
            :balanceColumns="createMutable($store.state.generalData.balanceColumns)"
            :defaultFiat="createMutable($store.state.defaultFiat)"
            ></watch-list>
        </b-col>
    </b-row>
        <b-row style="margin-top:-2.2%">
        <b-col col sm="12" xl="8">
    <trade-filter-bar v-show="chartSize == null || chartSize == 'closed'"
    :style="tradeStyle"
    :history="createMutable($store.state.generalData.transactions)"
    ></trade-filter-bar>
</b-col>
<b-col col sm="12" xl="4">
               <!-- Custom Display Spacing -->
                        <span class="d-block d-sm-block d-xl-none">
                            <div style="margin-top:35%;"></div>
                        </span>
                        <!-- END -->
<exchange-currency-table 
:style="tableSpace"
v-show="chartSize == null || chartSize == 'expanded' || chartSize == 'closed'"
:exchangesTable="$store.state.generalData.exchangeData"
 style="margin-top:60px;"
></exchange-currency-table>
        </b-col>
    </b-row>
               <!-- Custom Display Spacing -->
                        <span class="d-block d-sm-block d-xl-none">
                            <div style="margin-top:50%;"></div>
                        </span>
                        <!-- END -->
<div style="margin-top:5%;"></div>

</b-container>
    </div>
</template>

<script>
import TradingViewChart from "~/components/tradingViewChart/TradingViewChart"
import WatchList from "~/components/watchlist/WatchList"
import TradeFilterBar from "~/components/tradeHistoryChart/TradeFilterBar"
import ExchangeCurrencyTable from "~/components/exchangeCurrencyTable/ExchangeCurrencyTable"

export default {
    layout: 'authed',
    middleware: 'auth',
    data() {
    return {
        chartSize: null,
        tradeCol: 8,
        tableSpace: { position: 'relative',top: '-0px' },
        tradeStyle: { position: 'relative',top: '0px' },
        topStyle: {  marginTop: '4%', marginBottom: '10.5%'}

    }
    },
    mounted() {
            let that = this;
            if (window.innerWidth < 1200) {
                that.tradeCol = 12;
            }else {
                that.tradeCol = 8;
            }
            if(window.innerWidth < 1800 && window.innerWidth > 1200){
                that.topStyle.marginTop = '6%'
            }
            window.addEventListener("resize", function () {
             if(window.innerWidth < 1800 && window.innerWidth > 1200){
                that.topStyle.marginTop = '6%'
            }else{
                that.topStyle.marginTop = '4%'
            }
            let ws = window.innerWidth;
            if (ws < 1200) {
                that.tradeCol = 12;
            }else {
                that.tradeCol = 8;
            }
            })
                   if (this.$store.state.currentPage == null){
                this.$store.commit('updatePage', 'analysis')
            }
    },
    created () {
    this.$nuxt.$on("enlargeTvChart", (size) => {
    let that = this;
    if (size == 'lg') {
        that.chartSize = null;
        that.tradeCol = 8;
        that.tableSpace.top = '0px';
        that.tradeStyle.top = '0px'
    }else if (size == 'xl') {
        that.chartSize = 'expanded';
        that.tradeCol = 8;
        that.tableSpace.top = '-257px';
        that.tradeStyle.top = '0px'
    }else if (size == 'xxl') {
        that.chartSize = 'expandedFull';
        that.tableSpace.top = '0px';
        that.tradeStyle.top = '0px'
        that.tradeCol = 12;
    }else if (size == 'none') {
        that.chartSize = 'closed';
        that.tradeCol = 8;
        that.tableSpace.top = '0px';
        that.tradeStyle.top = '-495px'
    }
  })
    },
    methods:{
        createMutable(data){
            let mutableData = JSON.parse(JSON.stringify(data))
            return mutableData
        }
        },
    components: {
    TradingViewChart,
    WatchList,
    TradeFilterBar,
    ExchangeCurrencyTable,
},
}
</script>

<style>
    .page-container {
        margin-left: 2%;
        margin-right: 2%;
        margin-top:-2.7%;
        overflow-y: hidden;
        overflow-x: hidden; 
    }
</style>
