<template>
    <div v-if="$store.state.generalData" :style="topStyle" class="d-block d-sm-block">
        <div class="page-margin">
            <b-container class="bv-example-row" fluid>
                <b-row>
                    <b-col col sm="12" md="6" xl="3">
                        <!-- Custom Display Spacing -->
                        <span class="d-none d-sm-block  d-xl-none">
                            <div style="margin-top:30%;"></div>
                        </span>
                        <!-- END -->
                        <coins-banner></coins-banner>
                    </b-col>
                    <b-col sm="12" md="6" xl="3" style="margin-top:-0.5%;">
                        <!-- Custom Display Spacing -->
                        <span class="d-none d-md-block  d-xl-none">
                            <div style="margin-top:30%;"></div>
                        </span>
                        <!-- END -->
                        <div style="position:relative; margin-bottom: 0px; top:-10px; float:left;margin-top:-22px;">
                            <button v-if="exOrWallet == true" type="button" v-on:click="exOrWallet = true" variant="primary" class="btn-fil-blue3">Exchange</button>
                            <button v-if="exOrWallet == false" type="button" v-on:click="exOrWallet = true" variant="primary" class="btn-fil-blue4">Exchange</button>
                            <button v-if="exOrWallet == true" type="button" v-on:click="exOrWallet = false" variant="primary" class="btn-fil-blue4">Wallet</button>
                            <button v-if="exOrWallet == false" type="button" v-on:click="exOrWallet = false" variant="primary" class="btn-fil-blue3">Wallet</button>
                        </div>
                        <div align="left" :style="miniExchange">
                            <mini-exchange v-show="exOrWallet == true" :exchangeCoinData="createMutable($store.state.generalData.exchangeCoinData)" :exchangesTable="createMutable($store.state.generalData.exchangeData)" :balanceData="createMutable($store.state.generalData.balances)"></mini-exchange>
                            <Address v-show="exOrWallet == false" :addresses='createMutable($store.state.generalData.walletAddresses)'></Address>
                        </div>
                        <!-- Custom Display Spacing -->
                        <span class="d-none d-sm-block  d-md-block">
                            <div style="margin-bottom:20%;"></div>
                        </span>
                        <!-- END -->
                    </b-col>

                    <b-col col sm="12" xl="5">
                        <div style="margin-left:30%;margin-top:0%;">
                            <asset-donut :globalBalances="createMutable($store.state.generalData.filteredBalances)"></asset-donut>
                        </div>
                    </b-col>

                </b-row>
                <b-row :style="centerStyle">
                    <b-col col sm="12" xl="6">
                        <!-- Custom Display Spacing -->
                        <span class="d-none d-md-block  d-xl-none">
                            <div style="margin-bottom:45%;"></div>
                        </span>
                        <!-- END -->
                        <!-- Custom Display Spacing -->
                        <span class="d-block d-md-none">
                            <div style="margin-top:70%;"></div>
                        </span>
                        <!-- END -->
                        <div class="d-none d-xl-block" style="position:relative; margin-bottom: 0px; top:9px; float:left;">
                            <button v-if="assetOrWallet == true" type="button" v-on:click="assetOrWallet = true" variant="primary" class="btn-fil-blue3">Assets</button>
                            <button v-if="assetOrWallet == false" type="button" v-on:click="assetOrWallet = true" variant="primary" class="btn-fil-blue4">Assets</button>
                            <button v-if="assetOrWallet == true" type="button" v-on:click="assetOrWallet = false" variant="primary" class="btn-fil-blue4">Wallets</button>
                            <button v-if="assetOrWallet == false" type="button" v-on:click="assetOrWallet = false" variant="primary" class="btn-fil-blue3">Wallets</button>
                        </div>
                        <div class="d-block d-xl-none" style="position:relative; margin-bottom: 0px; top:-10px; float:left;margin-top:-25px;">
                            <button v-if="assetOrWallet == true" type="button" v-on:click="assetOrWallet = true" variant="primary" class="btn-fil-blue3">Assets</button>
                            <button v-if="assetOrWallet == false" type="button" v-on:click="assetOrWallet = true" variant="primary" class="btn-fil-blue4">Assets</button>
                            <button v-if="assetOrWallet == true" type="button" v-on:click="assetOrWallet = false" variant="primary" class="btn-fil-blue4">Wallets</button>
                            <button v-if="assetOrWallet == false" type="button" v-on:click="assetOrWallet = false" variant="primary" class="btn-fil-blue3">Wallets</button>
                        </div>

                        <color-table-bar style="margin-top:-1%" v-show="assetOrWallet == true" :watchList="createMutable($store.state.generalData.watchList)" :colorData="createMutable($store.state.generalData.balances.global)" :balanceData="createMutable($store.state.generalData.balances)"></color-table-bar>
                        <WalletBar v-show="assetOrWallet == false" :addresses='createMutable($store.state.generalData.walletAddresses)'></WalletBar>
                    </b-col>


                    <b-col col sm="12" md="6" :xl="allocationSize">
                        <title-bar style="margin-top:6%;" :targets="createMutable($store.state.generalData.targets)" :globalBalances="createMutable($store.state.generalData.filteredBalances)"></title-bar>
                    </b-col>
                    <b-col col sm="12" md="6" :xl="radialSize" style="margin-top:2%;">
                        <div class="d-block d-sm-block d-xl-none" style="margin-bottom:3%;"></div>
                        <RadialBar :globalBalances="createMutable($store.state.generalData.filteredBalances)"></RadialBar>
                    </b-col>
                </b-row>
            </b-container>
            <!-- Custom Display Spacing -->
            <span class="d-block d-xl-none">
                <div style="margin-bottom:10%;"></div>
            </span>
            <!-- END -->
        </div>
    </div>
</template>

<script>
    import RadialBar from '~/components/coinsPageComponents/radialBar'
    import TitleBar from '~/components/coinsPageComponents/allocationBar/titleBar'
    import AssetDonut from '~/components/coinsPageComponents/assetDonut/assetDonut'
    import WalletBar from '~/components/coinsPageComponents/coinswallettable/WalletBar'
    import ColorTableBar from '~/components/coinsPageComponents/colorlogotable/ColorTableBar'
    import MiniExchange from '~/components/coinsPageComponents/miniExchange/MiniExchange'
    import Address from '~/components/coinsPageComponents/addresslist/Address'
    import CoinsBanner from '~/components/coinsPageComponents/coinsbanner/CoinsBanner'
    export default {
        layout: 'authed',
        middleware: 'auth',
        data() {
            return {
                allocationSize: 3,
                radialSize: 3,
                miniExchange: {
                    width: '110%'
                },
                centerStyle: {
                    marginTop: '6.5%'
                },
                topStyle: {
                    marginTop: '9%',
                    marginBottom: '10.5%'
                },
                exOrWallet: true,
                assetOrWallet: true,
            }
        },
        created() {

        },
        mounted() {
            let that = this;
            if (window.innerWidth < 1920 && window.innerWidth > 1200) {
                that.topStyle.marginTop = '12%'
                that.centerStyle.marginTop = '10%'
                that.miniExchange.width = '100%'
            } else {
                that.centerStyle.marginTop = '6.5%'
                that.miniExchange.width = '110%'
            }
            window.addEventListener("resize", function() {
                if (window.innerWidth < 1800 && window.innerWidth > 1200) {
                    that.topStyle.marginTop = '12%'
                    that.centerStyle.marginTop = '10%'
                    that.miniExchange.width = '110%'
                } else {
                    that.topStyle.marginTop = '9%'
                    that.centerStyle.marginTop = '6.5%'
                    that.miniExchange.width = '100%'
                }
            })
            if (this.$store.state.currentPage == null) {
                this.$store.commit('updatePage', 'coins')
            }
        },
        methods: {
            createMutable(data) {
                let mutableData = JSON.parse(JSON.stringify(data))
                return mutableData
            }
        },
        components: {
            RadialBar,
            TitleBar,
            AssetDonut,
            WalletBar,
            ColorTableBar,
            MiniExchange,
            Address,
            CoinsBanner
        },
    }
</script>

<style>
    .page-margin {
        margin-top: -3%;
        margin-left: 2%;
        margin-right: 2%;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: rgb(0, 0, 0);
        color: white;
        font-size: 13px;
        border: none;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #000000;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: rgb(255, 255, 255);
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: rgb(0, 0, 0);
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #000000;
    }

    .btn-fil-blue3 {
        color: white !important;
        background-color: #047ea4 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 27px !important;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    .btn-fil-blue4 {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 27px !important;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
</style>