<template>
    <div v-if="$store.state.generalData" id="top" class="page-container d-block d-sm-block" :style="portfolio720">
        <div>
            <b-container fluid>
                <b-row style="margin-bottom:-2%">
                    <b-col col sm="12" md="12" lg="12" xl="8">
                        <!-- Custom Display Spacing -->
                        <span class="d-block d-xl-none">
                            <div style="margin-top:10%;"></div>
                        </span>
                        <!-- END -->
                        <PortChartHeader></PortChartHeader>
                    </b-col>
                    <b-col col sm="12" md="12" lg="12" xl="4" style="margin-bottom:5%;">
                        <twentyFourHourCoin :balanceData="$store.state.generalData.filteredBalances" :defaultFiat="$store.state.defaultFiat" ref="table"></twentyFourHourCoin>
                     <!-- Custom Display Spacing -->
                            <span class="d-block d-xl-none">
                                <div style="margin-bottom:5%;"></div>
                            </span>
                            <!-- END -->
                    </b-col>
                </b-row>
                <div>
                    <b-row>
                        <b-col col sm="12" md="12" lg="6" xl="4">
                            <totals></totals>
                            <!-- Custom Display Spacing -->
                            <span class="d-block d-sm-block d-lg-none d-xl-none">
                                <div style="margin-bottom:10%;"></div>
                            </span>
                            <!-- END -->
                        </b-col>
                        <b-col col sm="12" md="12" lg="6" xl="4">
                            <div style="max-width:631px;position:relative;right:-7.5%;margin-bottom:40%;">
                                <performers v-if="$store.state.generalData"></performers>
                                <!-- Custom Display Spacing -->
                                <span class="d-block  d-lg-none">
                                    <div style="margin-bottom: -15%;"></div>
                                </span>
                                <!-- END -->
                            </div>
                        </b-col>
                        <b-col col sm="12" md="12" lg="12" xl="4" style="margin-top:-5%;margin-bottom:10%;margin-left:auto;margin-right:auto">
                            <div>
                                <!-- Custom Display Spacing -->
                                <span class="d-none d-sm-block d-xl-none">
                                    <div style="margin:auto;">
                                        <asset-allocation style="padding-left:2%;margin-left:auto;margin-right:auto;margin-top:5%;margin-bottom:10%;"></asset-allocation>
                                    </div>
                                </span>
                                <!-- END -->

                                <asset-allocation class="d-none d-xl-block" style="margin-left:11%;float:left;"></asset-allocation>
                            </div>
                        </b-col>
                    </b-row>
                </div>
            </b-container>
        </div>
    </div>
</template>

<script>
    import twentyFourHourCoin from "~/components/twentyFourHour/twentyFourHourCoin"
    import PortChartHeader from "~/components/PortfolioApexChart/PortChartHeader"
    import Totals from "~/components/PortfolioTotals/Totals"
    import Performers from "~/components/performers/Performers"
    import AssetAllocation from "~/components/assetAllocationChart/AssetAllocation"
    import PageLoader from "~/components/loader/PageLoader"

    export default {
        layout: 'authed',
        middleware: 'auth',
        data() {
            return {
                totalChartData: null,
                chartReady:false,
                portfolio720: {marginTop : '4%'},
            }
        },
        mounted() {
            let that = this;
            if (window.innerWidth < 1800 && window.innerWidth > 1200) {
                that.portfolio720.marginTop = '6%'
            }else {
                that.portfolio720.marginTop = '4%'
            }
            window.addEventListener("resize", function () {
            let ws = window.innerWidth;
            if (ws < 1800 && ws > 1200) {
                that.Portfolio720 = 'on'
                that.portfolio720.marginTop = '6%'
                 }else {
                that.portfolio720.marginTop = '4%'
             }
            })
            if (this.$store.state.tickerLoading == true) {
                this.$store.commit('updateTickerLoader')
            }
            if (this.$store.state.currentPage == null) {
                this.$store.commit('updatePage', 'portfolio')
            }
        },
        methods: {
        },
        components: {
            twentyFourHourCoin,
            PortChartHeader,
            Totals,
            Performers,
            AssetAllocation,
            PageLoader
        },
    }
</script>

<style>
    .page-container {
        margin-left: 2%;
        margin-right: 2%;
        margin-top: -2.7%;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .apexcharts-tooltip {
        font-size: 17px !important;
        font-weight: bold;
        background: #ff000000 !important;
        color: rgba(255, 255, 255, 0) !important;
        border: none !important;
        border-bottom: black !important;
        width: 100% !important;
        border-radius: 0px !important;
        outline: none !important;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .apexcharts-xaxistooltip {
        background: #00000073;
        color: #fff;
        border: none;
    }

    .apexcharts-yaxistooltip {
        background: #096ff5;
        color: #fff;
        border: none;
    }
</style>