<template>
<div>
    <div v-if="$store.state.tickerLoading">
        <loader />
    </div>
    <div v-if="!$store.state.tickerLoading">

         <b-jumbotron header="InsightX" class="jumbo blue">
            <div class="container">
                <div><br />
                    <button class="btn-fil-blue" @click="showSignInModal" variant="warning" style="padding-right:30px; padding-left:30px;">Login</button>
                    <button class="btn-fil-blue2" variant="info" style="padding-right:30px; padding-left:30px;" @click="showModal">Signup</button>
                    <div id="SIGNUP">
                        <b-modal :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant" ref="myModalRef" :no-enforce-focus="true" class="modaltitle" hide-footer title="Signup for InsightX" variant="dark">
                            <div class="d-block text-center">
                                Enter a Username:
                                <b-form-input ref="username" type="text" placeholder="username"></b-form-input>
                                Enter a Password:
                                <b-form-input type="password" ref="password" placeholder="password"></b-form-input>
                                <label style="font-size:12px; color:gray;">*Minimum of 8 characters</label><br>
                                Confirm Password:
                                <b-form-input type="password" ref="confirmpassword" placeholder="confirm password"></b-form-input>
                                Recovery Phrase:
                                <b-form-textarea ref="recoveryphrase" id="securephrase" v-model="securephrase" placeholder="Enter 10-20 words" :rows="3" :no-resize="true" :max-rows="6">
                                </b-form-textarea>
                                 <label style="font-size:11px;color:gray;">*Promotional Code (optional)</label>
                                <b-form-input ref="promoCode" type="text" placeholder="Enter Promo Code"></b-form-input><br>
                                <button class="btn-fil-blue2 mt-3" variant="success" block @click="signup">Signup</button>
                                <span style="color:red">{{resultmessage}}</span>
                            </div>
                        </b-modal>
                    </div>
                    <div id="SIGNIN">
                        <b-modal :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant" class="navbutton2 modaltitle" :no-enforce-focus="true" ref="signInModal" hide-footer title="Enter Credentials">
                            <div class="d-block text-center">
                                <h3>Login</h3>
                                <b-form-input ref="usernameLogin" type="text" placeholder="Enter username"></b-form-input><br>
                                <b-form-input ref="passwordLogin" type="password" placeholder="Enter password"></b-form-input><br>
                                {{error}}
                               
                                <button class="btn-fil-blue2" @click="login" variant="success lg">Login</button><br>
                            </div>
                            <span style="font-size:12px">Forgot username? <div class='recover' style="cursor:pointer;" @click="showRecoverModal">Recover</div>
                                Forgot password? <div class='recover' style="cursor:pointer;" @click="showResetModal">Reset</div></span>
                        </b-modal>
                    </div>
                    <div id="RECOVER">
                        <b-modal :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant" class="navbutton2 modaltitle" ref="recoverModal" hide-footer>
                            <div class="d-block text-center">
                                <h3 class="white">Recover Username</h3>
                                Enter your recovery phrase:
                                <b-form-textarea ref="usernamerecover" v-model="recoverphrase" placeholder="Enter your recovery phrase." :rows="3" :no-resize="true" :max-rows="6">
                                </b-form-textarea>
                                <span style="color:red">{{error}}</span><br>
                                <button class="btn-fil-blue2" @click="recover()" variant="success lg">Recover</button><br>
                            </div>
                        </b-modal>
                    </div>
                    <div id="RESET">
                        <b-modal :header-bg-variant="headerBgVariant" :header-text-variant="headerTextVariant" :body-bg-variant="bodyBgVariant" :body-text-variant="bodyTextVariant" :footer-bg-variant="footerBgVariant" :footer-text-variant="footerTextVariant" class="navbutton2 modaltitle" ref="resetModal" hide-footer title="Recovery">
                            <div class="d-block text-center">
                                <h3 class="white">Reset Password</h3>
                                <b-form-textarea ref="passwordreset" v-model="recoverphrase" placeholder="Enter your recovery phrase." :rows="3" :no-resize="true" :max-rows="6">
                                </b-form-textarea>
                                Enter a Password:
                                <b-form-input type="text" ref="passwordrec"></b-form-input>
                                Confirm Password:
                                <b-form-input type="text" ref="confirmpasswordrec"></b-form-input>
                                <span style="color:red">{{error}}</span><br>
                                <button class="btn-fil-blue2" @click="reset()" variant="success lg">Reset</button><br>
                            </div>
                        </b-modal>
                    </div>
                </div>
            </div>
        </b-jumbotron>
    </div>
</div>
</template>

<script>
    import loader from "~/components/loader/PageLoader.vue"
    export default {
        data() {
            return {
                variants: [
                    'primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark', 'black'
                ],
                headerBgVariant: 'black',
                headerTextVariant: 'light',
                bodyBgVariant: 'black',
                bodyTextVariant: 'light',
                footerBgVariant: 'black',
                footerTextVariant: 'light',
                recoverphrase: '',
                password: null,
                confirmpassword: null,
                securephrase: '',
                resultmessage: '',
                endpoint: this.$store.state.apiEndPoint,
                error: ""
            }
        },
        methods: {
            showRecoverModal() {
                this.$refs.recoverModal.show()
            },
            showResetModal() {
                this.$refs.resetModal.show()
            },
            showSignInModal() {
                this.$refs.signInModal.show()
            },
            hideSignInModal() {
                this.$refs.signInModal.hide()
            },
            showModal() {
                this.$refs.myModalRef.show()
            },
            hideModal() {
                this.$refs.myModalRef.hide()
            },
            reset() {
                let confirmedpass = this.$refs.confirmpasswordrec.$el.value
                let password = this.$refs.passwordrec.$el.value
                if (confirmedpass != password) {
                    this.error = "Passwords do not match!"
                    this.$toast.error(that.error, {icon: 'warning'});
                }
                if (confirmedpass.lenth < 8) {
                    this.error = "Passwords must be atleast 8 characters"
                                        toastr.warning("Passwords must be atleast 8 characters");

                }
                let url = this.endpoint + 'api/reset'
                let recover = this.recoverphrase
                let that = this
                let bodysend = JSON.stringify({
                    "recoveryphrase": recover,
                    'newpassword': password
                })
                fetch(url, {
                        method: "POST",
                        mode: 'cors',
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                        },
                        credentials: 'same-origin',
                        body: bodysend
                    }).then(res => res.json())
                    .then((out) => {
                        if (out.result === 'success') {
                            that.error = out.message
                            that.$refs.resetModal.hide()
                            that.$refs.signInModal.show()

                        } else if (out.result === 'failed') {
                            that.error = out.message
                    this.$toast.error(out.message, {icon: 'warning'});
                        } else {
                            that.error = "Failed to recover username contact administration."
                    this.$toast.error(that.error, {icon: 'warning'});
                        }
                    })
                    .catch(err => {
                        throw err
                    })
            },
            recover() {
                let url = this.endpoint + 'api/recover'
                let recover = this.recoverphrase
                let that = this
                let bodysend = JSON.stringify({
                    'recoveryphrase': recover
                })
                fetch(url, {
                        method: "POST",
                        mode: 'cors',
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json'
                        },
                        credentials: 'same-origin',
                        body: bodysend
                    })
                    .then(res => res.json())
                    .then((out) => {
                        if (out.result === 'success') {
                            that.error = "Username: " + out.username
                        } else if (out.result === 'failed') {
                            this.$toast.error(that.error, {icon: 'warning'});
                        } else {
                            that.error = "Failed to recover username contact administration."
                            this.$toast.error(that.error, {icon: 'warning'});
                        }
                    })
                    .catch(err => {
                        throw err
                    })
            },
            login() {
                let url = this.endpoint + 'api/token'
                let username = this.$refs.usernameLogin.$el.value
                let password = this.$refs.passwordLogin.$el.value
                let that = this;
                if (username == null || password == null || username.length == 0 || password.length == 0) {
                    that.error = "No username or password provided."
                    this.$toast.error(that.error, {icon: 'warning'});
                    return
                }
                this.$store.commit('updateTickerLoader');
                fetch(url, {
                        headers: {
                            'Accept': 'application/json, text/plain, */*',
                            'Content-Type': 'application/json',
                            'Authorization': 'Basic ' + btoa(username + ':' + password)
                        },
                        credentials: 'same-origin'
                    })
                    .then(function(response) {
                        if (response.status == '401') {
                       // toastr.warning('Bad Username or Password');
                        }
                        return response.json();
                    })
                    .then((out) => {
                        if (out.result === 'success') {
                            var delayInMilliseconds = 1000
                            var that = this
                            setTimeout(function() {
                                sessionStorage.setItem('token', out.token)
                                that.$store.commit('updatePage', "portfolio")
                                that.$store.commit('updateTickerData', out.ticker)
                                that.$store.commit('updateTotalMarketCap', out.totalcap)
                                that.$store.commit('SET_USER', out.uniqueId)
                                that.$router.push('/portfolio')
                            }, delayInMilliseconds)
                        } else if (out.result === 'failed') {
                            that.error = out.message
                          this.$toast.error(that.error, {icon: 'warning'});
                        } else {
                            that.error = "failed to login"
                          this.$toast.error(that.error, {icon: 'warning'});
                        }
                    })
                    .catch(err => {
                        throw err
                    })
            },
            signup() {
                let promo = this.refs.promoCode.$el.value;
                let username = this.$refs.username.$el.value;
                let password = this.$refs.password.$el.value;
                let confirmpassword = this.$refs.confirmpassword.$el.value;
                let recoveryphrase = this.$refs.recoveryphrase.$el.value;
                if (username.length < 8 || password.length < 8) {
                    this.resultmessage = "Please user a minimum of 8 characters for username and password"
                    return
                }
                if (recoveryphrase.length < 20) {
                    this.resultmessage = "Please make sure your recovery phrase is more than 20 characters"
                    return
                }
                if (password != confirmpassword) {
                    this.resultmessage = "Passwords do not match!"
                    return
                }
                let url = this.endpoint + 'api/user'
                let that = this
                let header = {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                }
                var bodies = JSON.stringify({
                    'username': username,
                    'password': password,
                    'recoveryphrase': recoveryphrase,
                    'promo' : promo
                });

                fetch(url, {
                        method: "POST",
                        mode: 'cors',
                        headers: header,
                        body: bodies
                    })
                    .then(res => res.json())
                    .then((out) => {
                        if (out.result === 'success') {
                            this.$toast.success(out.result, {icon: 'check'});
                            that.$refs.myModalRef.hide()
                        } else if (out.result === 'failed') {
                            that.resultmessage = out.message
                            this.$toast.error(that.resultmessage, {icon: 'warning'});
                        } else {
                            that.resultmessage = "Failed to signup contact administration."
                            this.$toast.error(that.resultmessage, {icon: 'warning'});
                        }
                    })
                    .catch(err => {
                        throw err
                    })
            },
        },
        components: {
            loader
        }
    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Anton|Open+Sans+Condensed:300|Righteous|Shrikhand');
.LOGO {
    -webkit-filter:hue-rotate(10deg); /* Safari 6.0 - 9.0 */
    filter:hue-rotate(10deg);
}

.navbutton{
  color:rgb(165, 182, 212) !important;
font-family: 'Righteous', cursive;
font-size:20px;
position: relative;
top:-5px;
}
.navbutton2{
  color:rgb(0, 0, 0) !important;
font-family: 'Righteous', cursive;
font-size:20px;
position: relative;
top:-5px;
}
.pull-right{
  position: relative;
  margin-left:80%;
}
.yellow{
  color:rgb(255, 174, 0);

}
    .bin {
        top: .5em;
    }

    .card-body {
        background: black !important;
    }

    .bit {
        top: .6em;
    }

    .bitr {
        top: 6px;
    }

    .block {
        background-color: rgb(1, 21, 26);
        opacity: 0.8;
    }

    .p2 {
        font-size: 15px;
        color: white;
    }

    .card-card_title {
        opacity: 0%;
    }

    .card-card_footer {
        opacity: 0%;
    }


    .seethrough {
        opacity: 0%;
    }

    .signin {
        font-family: 'Anton', sans-serif;
        color: orangered;
    }

    .jumbo {
        background-color: transparent;
        top: 60px;

    }

    h1,
    h2 {
        font-weight: normal;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }

    a {
        color: #42b983;
    }

    #bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -3;
    }

    .blue {
        color: rgb(204, 223, 255) !important;
        font-family: 'Righteous', cursive;
        font-size: 20px;
        position: relative;
    }

    .modaltitle {
        color: rgb(0, 90, 117);
    }

    .btn-fil-blue {
        color: white !important;
        background-color: #047ea4 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    .btn-fil-blue2 {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }

    input {
        background: #1a1a1a;
        color: white;
    }

    textarea {
        background: #1a1a1a;
        color: white;
    }

    textarea:focus {
        background: #1a1a1a;
        color: white;
    }

    input:focus {
        background: #1a1a1a;
        color: white;
    }
</style>