<template>
    <div v-if="$store.state.generalData" :style="topStyle" class="d-block d-sm-block">
         <!-- Custom Display Spacing -->
                            <span class="d-block d-sm-block  d-xl-none">
                                <div style="margin-top:8%;"></div>
                            </span>
                            <!-- END -->
        <div class="page-margin">
        <b-row>
        <b-col cols="12" class="font-white">
        <transactionFilter :history="$store.state.generalData.transactions" :addresses="$store.state.generalData.walletAddresses"></transactionFilter>
        </b-col>
        </b-row>
                                        <div style="margin-bottom:10%;"></div>

         <!-- Custom Display Spacing -->
                            <span class="d-block d-sm-block  d-xl-none">
                                <div style="margin-bottom:5%;"></div>
                            </span>
                            <!-- END -->
    </div>
    </div>
</template>
<script>
import paginationTransactions from '~/components/pagination/paginationTransactions'
import transactionFilter from "~/components/transactionTable/TransactionsFilter"

export default {
    layout: 'authed',
    middleware: 'auth',
    data() {
    return {
    topStyle: {  marginTop: '4.5%'},
    }
    },
    mounted () {
          let that = this;
            if (window.innerWidth < 1800 && window.innerWidth > 1200) {
            that.topStyle.marginTop = '6%'
            } else {
            that.topStyle.marginTop = '4.5%'
            }
            window.addEventListener("resize", function() {
                if (window.innerWidth < 1800 && window.innerWidth > 1200) {
            that.topStyle.marginTop = '6%'
                } else {
            that.topStyle.marginTop = '4.5%'
                }
            })
                if (this.$store.state.currentPage == null){
                this.$store.commit('updatePage', 'transactions')
            }
    },
    components: {
    transactionFilter,
    paginationTransactions,
},
}
</script>

<style scoped>
.font-white{
    color:white;
}
</style>
