<template>
  <div class="bg" style="overflow-x:hidden overflow-y:scroll;">
    <div class="table-wrap">
      <b-table small striped hover :fields="fields" :filter="searchfilter" :items="finalList"  v-on:row-clicked="rowClicked" caption-top>
 
 <template slot="HEAD_coins" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
<div class="text-left table-labels">
 Coins
</div> 
 </template>
 <template slot="HEAD_amount" slot-scope="item">
                    <!-- A custom formatted header cell for field 'name' -->
                    <!-- A custom formatted header cell for field 'name' -->
                    <div class="dropdown">
                        <button  class="dropbtn2 nowrap table-labels" style="font-weight: bold;">{{balOrallo}}</button>
                        <div class="dropdown-content">
                            <p style="font-weight: bolder;font-size:12px;margin-top:10px;" v-on:click="allocation_sort('allocation')">Allocation%</p>
                            <p style="font-weight: bolder;font-size:12px;" v-on:click="allocation_sort('balance')">Balance</p>
                        </div>
                    </div>
                </template>
<!-- <template slot="HEAD_costBasis" slot-scope="item">
<div class="table-labels">
 Cost Basis
</div>
 </template> 
-->
<template slot="HEAD_change" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
    <div class="dropdown">
    <button class="dropbtn2 nowrap table-labels">% Change</button>
    <div class="dropdown-content">
    <a style="font-size:12px;">1D</a>
    <a style="font-size:12px;">1W</a>
    <a style="font-size:12px;">1M</a>
    </div>
    </div> 
 </template>
<template slot="HEAD_value" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
    <div class="dropdown" style="font-size:12px;">
    <button class="dropbtn2 nowrap table-labels">Value ({{pick_currency_Value}})</button>
     <div class="dropdown-content">
    <a v-on:click="filterTable('USD')">USD</a>
    <a v-on:click="filterTable('BTC')">BTC</a>
    </div>
   </div> 
 </template>
<template slot="HEAD_price" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
    <div class="dropdown" style="font-size:12px;">
    <button class="dropbtn2 nowrap table-labels">Price ({{pick_currency_Value}})</button>
     <div class="dropdown-content">
    <a v-on:click="filterTable('USD')">USD</a>
    <a v-on:click="filterTable('BTC')">BTC</a>
    </div>
   </div> 
 </template>

<template slot="logo" scope="item">
    <div>
        <img :src="'/cryptocurrency-icons/svg/color/'+ item.item.logo.toLowerCase() +'.svg'" onerror="this.src='/cryptocurrency-icons/svg/black/other.svg'" width="25px">
    </div>
    </template>
<template slot="coins" scope="item">
    <div class="text-left tabletext">
        {{item.item.coins}}
    </div>
    </template>
<template slot="change" scope="item">
  <div class="tabletext">
    <div v-if="item.item.change > 0" class="text-center" style="color:green;">{{item.item.change}}%</div>
    <div v-else class="text-center" style="color:#da1e2d">{{item.item.change}}%</div>
  </div>
    </template>

<template slot="amount" slot-scope="item">
  <!-- A custom formatted header cell for field 'name' -->
<div class="tabletext">
 {{item.value}}
</div>
 </template>
<!-- 
<template slot="costBasis" slot-scope="item">
  A custom formatted header cell for field 'name' 
<div class="tabletext">
 {{item.value}}
</div>
 </template>
 -->

<template slot="value" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
    <div class="tabletext">
      {{item.value}}
   </div> 
 </template>
<template slot="price" slot-scope="item">
    <!-- A custom formatted header cell for field 'name' -->
    <div class="tabletext">
    {{item.value}}
   </div> 
 </template>
</b-table>
</div>
</div>
</template>
<script>
/* eslint-disable */


export default {
  name: 'TradingHistoryChart',
  data () {
    return {
            behaveData: this.exchangeData,
            globalSort: null,
            balOrallo: 'Balance',
            pick_currency_Value: 'USD',
            finalList: [],
            fields: [
              { key: 'logo',
                label: "",
              },
              { key: 'coins',
                label: "Coins",
                sortable: true
              },

              { key: 'amount', 
                label:"Amount",
                sortable: true
              },
              /* {
                key:'costBasis',
                label:"Cost Basis",
                sortable: true
              },*/
              {
                key:"value",
                label: 'Value',
                sortable:  true
              },
              {
                key: "price",
                label: "Price",
                sortable: true
              },
   
                            {
                key: "change",
                label: "% Change",
                sortable: true
              },

              ],
    }
  },
props:['tradeData', 'searchfilter', 'exchangeData'],
methods: {
    checkZero(num){
    if (isNaN(num)|| num == 0){
        return "-"
      }
      var number = num.toLocaleString('en')
      if (number.includes(".")){
          var parts = number.split(".")
          parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",")
          return parts.join(".")
      } else {
          return number.replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      }
  },
allocation_sort(settings) {
                let that = this;
                this.finalList = [];
                var setting = settings
                if (setting == 'balance') {
                    setting = 'Amount'
                    that.balOrallo = 'Balance'
                } else {
                    setting = 'AllocationPercentage'
                    that.balOrallo = 'Allocation%'
                }
                for (var items in this.globalSort) {
                    if (items != 'computed') {
                        that.finalList.push({
                    'allocation' : this.globalSort[items].AllocationPercentage,
                    'coinName' : this.globalSort[items].Coin,
                    'color' : this.globalSort[items].Color,
                    'btcPrice' :  this.checkZero(Number.parseFloat(this.globalSort[items].btcprice).toFixed(8)),
                    'btcValue' : this.checkZero(Number.parseFloat(this.globalSort[items].btcvalue).toFixed(8)),
                    'name' : this.globalSort[items].name,
                    'logo': this.globalSort[items].symbol,
                    'coins': this.globalSort[items].symbol,
                    'costBasis': this.checkZero(Number.parseFloat(this.globalSort[items].costbasis).toFixed(2)),
                    'costBasisBtc': this.checkZero(Number.parseFloat(this.globalSort[items].costbasisbtc).toFixed(2)),
                    'amount': this.checkZero(Number.parseFloat(this.globalSort[items][setting]).toFixed(2)),
                    'value': this.checkZero(Number.parseFloat(this.globalSort[items].usdvalue).toFixed(2)),
                    'price':  this.checkZero(Number.parseFloat(this.globalSort[items].usdprice).toFixed(2)), 
                    'change': this.globalSort[items].twentyfourchange,
                    '_rowVariant': "dark2",
                        })
                    }
                }
                this.temp_list = (this.finalList);
            },
filterTable(val){
  if (val === 'USD'){
       this.pick_currency_Value = 'USD'
        if(colorData[items].symbol != null){
       for (var items in colorData){
      this.finalList.push({
        'logo': colorData[items].symbol,
         'coins': colorData[items].symbol,
          'costBasis':  this.checkZero(Number.parseFloat(colorData[items].costbasis).toFixed(8)),
           'amount':  this.checkZero(Number.parseFloat(colorData[items].Amount).toFixed(2)),
            'value':  this.checkZero(Number.parseFloat(colorData[items].usdvalue).toFixed(2)),
             'price':  this.checkZero(Number.parseFloat(colorData[items].usdprice).toFixed(2)),
              'change':  this.checkZero(Number.parseFloat(colorData[items].twentyfourchange).toFixed(2)),
               '_rowVariant': "dark2" });
     }
     }
  }else{
      this.pick_currency_Value = 'BTC'
       if(colorData[items].symbol != null){
      for (var items in colorData){
      this.finalList.push({
            'logo': colorData[items].symbol,
         'coins': colorData[items].symbol,
          'costBasis':  this.checkZero(Number.parseFloat(colorData[items].costbasis).toFixed(8)),
           'amount':  this.checkZero(Number.parseFloat(colorData[items].Amount).toFixed(2)),
            'value':  this.checkZero(Number.parseFloat(colorData[items].usdvalue).toFixed(2)),
             'price':  this.checkZero(Number.parseFloat(colorData[items].usdprice).toFixed(2)),
              'change':  this.checkZero(Number.parseFloat(colorData[items].twentyfourchange).toFixed(2)),
               '_rowVariant': "dark2" });
     }
     }
  }
},
onLoadClick(){
var that = this;
that.rowClicked(that.finalList[0], 'clear')
 },
 rowClicked(item, index) {
    this.$nuxt.$emit("updateExchangeAndWallet", item.coins)
    this.$nuxt.$emit('overviewReset', false);
    for (var eachItems in this.finalList) {
    this.finalList[eachItems]._rowVariant = "dark2";
    }
    item._rowVariant = 'dark3';
    this.$nuxt.$emit('coinsBanner', item, this.behaveData);
    this.$nuxt.$emit('resortRecentExchange', item);
    if (index != 'none'){
      this.$nuxt.$emit('clearWallet', item.coins);
    }
  }
  },
updated(){
this.onLoadClick();
},
mounted() {
      this.$nuxt.$on("overviewCoins", (val) => { 
       if (val == true){
       this.allocation_sort('balance')
       this.$nuxt.$emit('coinsBanner', this.finalList[0]);
       }
     })
     this.$nuxt.$on("walletClick", (val) => { 
     var that = this;
     for (var eachItems in this.finalList) {
     that.finalList[eachItems]._rowVariant = "dark2";
     if (that.finalList[eachItems].coins == val.Symbol) {
      that.rowClicked(that.finalList[eachItems], 'none');
     }
    }
    //item._rowVariant = 'dark3';
     })
    this.$nuxt.$on("colorLogo", (colorData) => {
      this.globalSort = colorData;
      for (var items in colorData){
      if(colorData[items].symbol != null){
      this.finalList.push({
        'allocation' : colorData[items].AllocationPercentage,
        'coinName' : colorData[items].Coin,
        'color' : colorData[items].Color,
        'btcPrice' :  this.checkZero(Number.parseFloat(colorData[items].btcprice).toFixed(8)),
        'btcValue' : this.checkZero(Number.parseFloat(colorData[items].btcvalue).toFixed(8)),
        'name' : colorData[items].name,
        'logo': colorData[items].symbol,
        'coins': colorData[items].symbol,
        'costBasis': this.checkZero(Number.parseFloat(colorData[items].costbasis).toFixed(2)),
        'costBasisBtc': this.checkZero(Number.parseFloat(colorData[items].costbasisbtc).toFixed(2)),
        'amount': this.checkZero(Number.parseFloat(colorData[items].Amount).toFixed(2)),
        'value': this.checkZero(Number.parseFloat(colorData[items].usdvalue).toFixed(2)),
        'price':  this.checkZero(Number.parseFloat(colorData[items].usdprice).toFixed(2)), 
        'change': colorData[items].twentyfourchange,
        '_rowVariant': "dark2" });
      }
     }
     this.$nuxt.$emit('coinsBanner', this.finalList[0]);
    })
  },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

[v-cloak] > * { display:none }
[v-cloak]::before { content: "loading…" }

.table-dark2:nth-child(odd){
  background-color: rgb(10, 10, 10) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-dark2:nth-child(even){
  background-color: rgb(0, 0, 0) !important;
  border: 3px solid rgba(54, 53, 53, 0.815);
  border-right: black;
  border-left: black;
}
.table-wrap
{
    height:305px;
    width:100%;
    position: relative;
    overflow: scroll; 
    overflow-x: hidden; 
    margin-top: 16px;
}
.bg{
  background-color: black;
}
.white{
  color: white;
}
.green{
  color: green;
}
.red{
  color: rgb(0, 17, 255);
}
.square {
  height: 22px;
  width: 7px;
  position:relative;
}
.gray{
  background-color:rgb(32, 32, 32);
}
.search{
  width: 100px;
  border: 2px solid rgb(204, 204, 204);
  background: transparent;
  border-radius: 25px;
  height: 30px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none
}
* {
    outline-style: none
}
.borderblack{
  background: black;
  position: relative; 
  margin-top:52px;
  z-index:5;
}
.square2 {
  height: 10px;
  width: 1000px;
  position:relative;
  background: rgb(0, 0, 0);
  top:1px;
  z-index: 5;
}
.dropbtn {
    background-color: black;
    color: white;
    min-width:50px;
    margin-right:0%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    top:-10px;
    height: 27px;
}
.dropbtn2 {
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: none;
    position: relative;
    height: 27px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top:22px;
    background-color: black;
    min-width: 125px;
    height:90px;
    overflow-y:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #000000;
  color:rgb(255, 255, 255);
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}
</style>
