<template>

<div v-if="bannerValues" style="font-size: 14px; position: relative; top:-25px;">
<b-col cols="12">
<b-row>
    <b-col cols="12" class="nowrap">
    <div style="margin-top:-20px;margin-bottom:20px;margin-left:-30%;">    
    <h4><img class="invert" :src="'/cryptocurrency-icons/128/color/' + bannerValues[0].logo.toLowerCase() + '.png'"  onerror="this.src='/cryptocurrency-icons/svg/black/other.svg'" width="45px">
    {{bannerValues[0].coinName}}</h4>
    </div>
    </b-col>
</b-row>
<div style="position:relative; right:-0%white-space:nowrap;height:200px;width:300px;">
        <b-row>
        <div style="position: relative; top: 3px;">
        <strong style="margin-right:5px;">Amount:</strong>
        </div>
        <div class="valColor" style="margin-left: 122px;"> {{bannerValues[0].amount}}
        </div>
        </b-row>
        <!--<b-row>
         <div style="position: relative; top: 3px;">
        <strong style="margin-right:5px;">Cost-Basis (BTC): </strong>
        </div>
        <div class="valColor" style="margin-left: 70px;"> {{bannerValues[0].costBasis}}
        </div> 
        </b-row>-->
         <b-row>
        <div style="position: relative; top: 3px;">
        <strong style="margin-right:5px;">Value (BTC): </strong>
        </div>
        <div class="valColor" style="margin-left: 100px;"> {{bannerValues[0].btcValue}}
        </div>
        </b-row>
         <b-row>
        <div style="position: relative; top: 3px;">
        <strong style="margin-right:5px;">% Change:</strong>
        </div>
        <div class="valColor" :style="getColor(bannerValues[0].change)">{{plusOrMinus}}{{bannerValues[0].change}}%
        </div>
        </b-row>
        <b-row>
        <div style="position: relative; top: 3px;">
        <strong style="margin-right:5px;">Portfolio Allocation %: </strong>
        </div>
        <div class="valColor" style="margin-left: 30px;"> {{bannerValues[0].allocation}}%
        </div>
        </b-row>
</div>
</b-col>
  </div>
</template>

<script>


export default {
  name: 'TradingChart',
  data () {
    return {
     plusOrMinus: '',
     bannerValues: null,
     coinBannerData: {
           'ada':{'coinBannerLogo': 'ada', 'coinBannerText': 'Cardano (ADA)', 'amount': '24258.58',  'costBasisBtc': '020525.257', 'valueBtc': '020525.257', 'changeBtc': '17.43',  'changeUsd': '17.43', 'portfolioAllo': '32.54', 'costBasisUsd': '514.25', 'valueUsd': '7800.35'},
            'btc':{'coinBannerLogo': 'btc', 'coinBannerText': 'Bitcoin (BTC)', 'amount': '24258.58',  'costBasisBtc': '020525.257', 'valueBtc': '020525.257', 'changeBtc': '-17.43',  'changeUsd': '17.43', 'portfolioAllo': '32.54', 'costBasisUsd': '514.25', 'valueUsd': '7800.35'},
           'eth':{'coinBannerLogo': 'eth', 'coinBannerText': 'Etherium (eth)', 'amount': '24258.58',  'costBasisBtc': '020525.257', 'valueBtc': '020525.257', 'changeBtc': '17.43',  'changeUsd': '17.43', 'portfolioAllo': '32.54', 'costBasisUsd': '514.25', 'valueUsd': '7800.35'},
           'dmd':{'coinBannerLogo': 'dmd', 'coinBannerText': 'Diamond (DMD)', 'amount': '24258.58',  'costBasisBtc': '020525.257', 'valueBtc': '020525.257', 'changeBtc': '17.43',  'changeUsd': '17.43', 'portfolioAllo': '32.54', 'costBasisUsd': '514.25', 'valueUsd': '7800.35'},
           'xrp':{'coinBannerLogo': 'xrp', 'coinBannerText': 'Ripple (XRP)', 'amount': '24258.58',  'costBasisBtc': '020525.257', 'valueBtc': '020525.257', 'changeBtc': '17.43',  'changeUsd': '17.43', 'portfolioAllo': '32.54', 'costBasisUsd': '514.25', 'valueUsd': '7800.35'},
           },
    coinBanner2: [],
    }
  },
methods: {
     getColor (num) {
    var that = this;
    var iNum = parseFloat(num);
    if (iNum < 0) {
      that.plusOrMinus = '';
     return {color: 'red', marginLeft: '111px'}
    } else{
     that.plusOrMinus = '+';
     return {color:'green', marginLeft: '111px'}
    }},
    pushBannerOnLoad(){
    this.coinBanner2 = this.coinBannerData.btc;
    },
    pushBanner(name){
    this.coinBanner2 = this.coinBannerData[name.toString()];
    }
},
created() {
    this.$nuxt.$on("coinsBanner", (data) => {
        if (!data){
            return
        }
          this.bannerValues = [];
          this.bannerValues.push({
          'coinName' : data.coinName,
          'allocation' : data.allocation,
          'btcPrice' : data.btcPrice,
          'btcValue': data.btcValue,
          'logo': data.logo, 
          'coins': data.coins, 
          'costBasis': data.costBasis,
          'costBasisBtc': data.costBasisBtc, 
          'amount': data.amount, 
          'value': data.value, 
          'price': data.price, 
          'change': data.change, 
          });
    })
  },
mounted (){

},
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.inline { 
    float:left; 
    }
.inline2 { 
    float:right; 
    }
.valColor{
    color: #65cdfa;
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold;
    margin-right:5px;
}
.valColorC{
    color: #d73333;
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold;
}
.valColorD{
    color: #1b9e26;
    padding-top: 2px;
    font-size: 16px;
    font-weight: bold;
}
.nowrap{
    white-space: nowrap;
}
</style>
