<template>
  <div>
      <!-- MODAL -->
  <div>
    <b-modal size="lg" centered v-model="addWalletTransaction" 
             title="Add Wallet Transaction"
             :header-bg-variant="headerBgVariant"
             :header-text-variant="headerTextVariant"
             :body-bg-variant="bodyBgVariant"
             :body-text-variant="bodyTextVariant"
             :footer-bg-variant="footerBgVariant"
             :footer-text-variant="footerTextVariant">

        <b-row class="my-1"> 
              <b-table striped hover :items="items"></b-table>
        </b-row> 

        <b-row class="my-1"> 
            <b-col sm="2">
                <label style="white-space:nowrap;" for="input-large">Coin symbol:</label>
            </b-col>
            <b-col sm="10"> 
             <b-form-select  v-model="symbol" :options="symbolOptions" class="mb-3 drop-input" size="sm" />
            </b-col> 
        </b-row>

        <b-row class="my-1"> 
            <b-col sm="2">
                <label style="white-space:nowrap;" for="input-large">Nickname:</label>
            </b-col>
            <b-col sm="10"> 
                <b-form-select v-model="nickname" :options="addressOptions" class="mb-3 drop-input" size="lg" />
            </b-col> 
        </b-row>
                
        <b-row class="my-1"> 
            <b-col sm="2">
                <label style="white-space:nowrap;" for="input-large">Amount:</label>
            </b-col>
            <b-col sm="10"> 
                <b-form-input v-model="amount" id="input-large" size="lg" type="text" class="drop-input" placeholder="amount of transaction"></b-form-input> 
            </b-col> 
        </b-row> 

        <b-row class="my-1"> 
            <b-col sm="2">
                <label style="white-space:nowrap;" for="input-large">Fee:</label>
            </b-col>
            <b-col sm="10"> 
                <b-form-input class="drop-input" placeholder="*optional" v-model="fee" id="input-large" size="sm" type="text"></b-form-input> 
            </b-col> 
        </b-row> 

        <b-row class="my-1"> 
            <b-col sm="2">
                <label style="white-space:nowrap;" for="input-large">Transacted time:</label>
            </b-col>
            <b-col sm="10" style="white-space: wrap !important;"> 
                <datetime 
                  type="datetime"
                   :phrases="{ok: 'Continue', cancel: 'Exit'}"
                v-model="transactionTime" 
                input-style="border:none;width:100%;border-radius:3px;float:left;"
                ></datetime><br>            
            </b-col> 
        </b-row> 
        <b-row class="my-1"> 
            <b-col sm="2">
                <label style="white-space:nowrap;" for="input-large">Transaction type:</label>
            </b-col>
            <b-col sm="6"> 
             <b-form-select v-model="transactionType" :options="transactionOptions" class="mb-3 drop-input" size="sm" />
             </b-col> 
            <b-col sm="2">
                <span style="white-space:nowrap;">Selected: <strong style="color:#25b154" v-show="transactionType == 'deposit'">{{ transactionType }}</strong>
                <strong  style="color:#da1e2d" v-show="transactionType != 'deposit'">{{ transactionType }}</strong></span>
            </b-col>
        </b-row> 
        <div slot="modal-footer" class="w-50">
        <b-row class="my-1"> 
            <b-col sm="10"> 
            <button class="btn-fil-yellow" @click="addTransactions()">Add</button>
            <button class="btn-fil-red" @click="clearTransactions()">Clear</button>
            <button class="btn-fil-blue" @click="updateTransactions()">Update</button>     
            </b-col> 
        </b-row> 
        </div>
    </b-modal>
  </div>
    <b-row class="wrapper2">
        <b-col cols="12">
            <b-row>
                 <b-col cols="4">
            <div align="left" class="filter-space nowrap"><br>
               <h5 class="title">TRANSACTION HISTORY</h5>
            </div>
                </b-col>
                <b-col cols="4" style="position:relative; top:-5px;">
            <div align="right" style="position:relative; white-space:nowrap;" class="buttontext"><br>
                <button type="button"  @click="openTransactionModal()" variant="primary"  class="btn-fil" style="position:relative; top:5px;">+ Wallet Transaction</button>
            </div>
                </b-col>
                 <b-col cols="4" style="position:relative;">
            <div align="right" style="position:relative; top:-4.5px;"><br>
            <button class="searchBtn" @click="refreshCoin()" type="button"><fa icon="redo" /></button>
            <input v-model="searchCoin" class="search" placeholder="    Search"  type="text">
            <button class="searchBtn" @click="searchByCoin()" type="button"><fa icon="search"/></button>            
            </div>
                </b-col>
            </b-row>
        </b-col>
    </b-row>
    <div>
    </div>
    <Transactions :addresses="walletsAddress" :searchfilter="search"  :tradeData="history" style="position:relative; top:-20px;margin-bottom:-15px;"></Transactions>
    <paginationTransactions ></paginationTransactions>
  </div>
</template>

<script>
import Transactions from '~/components/transactionTable/TransactionsTable'
import paginationTransactions from '~/components/pagination/paginationTransactions'


export default {
    name:"transactionFilter",
  props: ['history', 'addresses'],
  data () {
    return {
      tableData: this.history,
      addedMarkets: [],
      endpoint: this.$store.state.apiEndPoint,
      marketModel: '',
      search: '',
      fmAddress: null,
      symbolOptions: [{ value: null, text: 'Select an a coin' }],
      toAddress: null,
      amount: null,
      items: [],
      nickname: null,
      currency: null,
      symbol: null,
      searchCoin: null,
      addressOptions: [{ value: null, text: 'Select an address'}],
      transactionType: null,
      addWalletTransaction: false,
      fee: null,
      from: null,
      to: null,
      show: false,
      transactionTime: null,
      transactionOptions:       [  { value: null, text: 'Select an option' },
        { value: 'withdraw', text: 'Withdrawal' },
        { value: 'deposit', text: 'Deposit' }],
      variants: [
        'primary', 'secondary', 'success', 'warning', 'danger', 'info', 'light', 'dark', 'black'
      ],
      headerBgVariant: 'black',
      headerTextVariant: 'light',
      bodyBgVariant: 'black',
      bodyTextVariant: 'light',
      footerBgVariant: 'black',
      footerTextVariant: 'light',
      walletsAddress: [],
      selected: [], // Must be an array reference!
      options: [
        {text: 'BITTREX', value: 'bittrex'},
        {text: 'GDAX', value: 'gdax'},
        {text: 'CRYPTOPIA', value: 'cryptopia'},
        {text: 'BINANCE', value: 'binance'}
      ],
  }
  },
    components: {
    Transactions,
    paginationTransactions,
    },
    mounted(){
        for (var wallet in this.addresses){
            this.walletsAddress.push(this.addresses[wallet].Nickname)
        }
    },
methods:{
        refreshCoin(){
        this.$nuxt.$emit('searchByCoinTransaction', (null))
        this.searchCoin = null;
    },
    searchByCoin(){
        this.$nuxt.$emit('searchByCoinTransaction', (this.searchCoin))
        this.searchCoin = null;
    },
    openTransactionModal(){
        this.symbolOptions = [{ value: null, text: 'Select an a coin' }] 
        this.addWalletTransaction = true
        for (var wallet in this.addresses){
            this.symbolOptions.push({'value':this.addresses[wallet].Symbol, 'text':this.addresses[wallet].Symbol} )
        }
    },
    applyFilter () {
    },
    addTransactions (){
        if (this.nickname == null || this.symbol == null || this.amount == null || this.transactionType == null || this.transactionTime == null){
            alert("Please make sure all fields are filled in.")
            return
        }
        for (var wallet in this.addresses){
            if (this.addresses[wallet].Symbol === this.symbol){
                this.toAddress = this.addresses[wallet].Address }}
        this.items.push({"coin": this.symbol,"address": this.toAddress,"nickname": this.nickname, "fee": this.fee, "amount": this.amount, "type": this.transactionType, 'time': new Date(this.transactionTime).getTime()})
    },
    clearTransactions (){
        this.items = []
    },
    pushNicknames () {
       this.toAddress = null;
       this.addressOptions = [{ value: null, text: 'Select an address' }]
        for (var wallet in this.addresses){
            if (this.addresses[wallet].Symbol === this.symbol){
                this.addressOptions.push({'value':this.addresses[wallet].Nickname, 'text':this.addresses[wallet].Nickname} )
            }
        }
    },
    updateTransactions () {
        if (!Array.isArray(this.items) || !this.items.length) {
            alert("Please add one or more transactions by clicking the add button")
            return
        }
        var token = sessionStorage.getItem('token')
        var header =  {          
          'Accept': 'application/json, text/plain, */*',
          'Content-Type': 'application/json',
          'Authorization': 'Basic '+btoa(token+':unused')}
          //let that = this
        var url =this.endpoint + "api/wallettransactions"
        var that = this
        fetch(url, {
          method:"POST",
          mode: 'cors',
          headers: header,
          body: JSON.stringify({'transactions': this.items })
          }).then(function(){
            that.addWalletTransaction = false
            that.items = []
            that.transactionTime = null
            that.fee = null
            that.amount = null;
            that.NickName = null;
            that.toAddress = null
            that.symbol = null
            that.transactionType = null
            that.$nuxt.$emit('sortTransactions', {'direction': "down", 'sortby': 'closed'})
          })
    }
},
watch: {
    symbol: function(val){
        this.pushNicknames()
    }
}
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

.item + .item:before {
  content: ", ";
}
.drpbut{
    background-color: black !important;
}

.wrapper {
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
.wrapper2 {
    margin-left:auto;
    margin-right:auto;
    margin-top:1%;
    width:100%;
    position: relative;
    padding-bottom: 10px;
}

.but-space{
        padding-left: 50px;
        padding-right: 10px;
}
.modal-but{
    background-color: black !important;
    border: none !important;
}
.black{
    color: black !important;
}
.dropbtn {

    background-color: black;
    color: white;
    min-width:90px;
    padding: 1px;
    margin: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    cursor: pointer;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    border-radius: 16px;
    position: relative;
    top:-6px;
    font-size: 14px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top:32px;
    background-color: black;
    min-width: 125px;
    height:90px;
    overflow-y:scroll;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
  color:black;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
    color: black;
}

.size{
  width: 50px;
}
.btn-fil{
    color: white !important;
    background-color: black !important; 
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
}
.search{
  width: 90px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 25px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none;
  font-size: 12px;
}

ul{
    list-style: none;
}


.searchBtn{
  width: 30px;
  border: 2px solid rgb(255, 255, 255);
  background: transparent;
  border-radius: 25px;
  height: 27px;
  font-family: 'Montserrat', sans-serif;
  color: white;
  font-weight: bold;
  outline-style: none;
  font-size: 11px;
}
   input {
        background: #1a1a1a;
        color: white;
    }

    textarea {
        background: #1a1a1a;
        color: white;
    }

    textarea:focus {
        background: #1a1a1a;
        color: white;
    }

    input:focus {
        background: #1a1a1a;
        color: white;
    }
.drop-input{
color:white;
background: #1a1a1a;
border:none;
font-size: 12px;
height:30px;
}
    .btn-fil-blue {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #047ea4;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    .btn-fil-yellow {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a3972d;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
    .btn-fil-red {
        color: white !important;
        background-color: #000000 !important;
        border-style: solid;
        border-width: 2px;
        border-color: #a41704;
        border-radius: 25px;
        height: 37px;
        position: relative;
        top: 3px;
        cursor: pointer;
    }
</style>
