    <template>
    <div class="wrapper">
        <div id="chart">
        <div style="position:relative;top:100px;">
        <h4 v-if="coinName == null" style="font-weight:bold;">{{numberAssets}} Assets</h4>
        <h4 v-if="coinName != null" style="font-weight:bold;">{{coinName}}</h4>
        <h5><img class="inverted" src="/other/money.png" width="12px" >
        <a style="color:#047ea4;">{{totalUSD}}</a></h5>
        <h5  style=""><img class="inverted" src="/other/bitcoin.png" width="15px" >
        <a style="color:#047ea4">{{totalBTC}}</a></h5>
        </div>
        <div style="margin-top:-150px;">
        <DonutChart v-if="load" :series="series" :colors="colors" :width="400" :height="400" />
        </div>
        </div>
    </div>
</template>

<script>
    import DonutChart from '~/components/coinsPageComponents/assetDonut/assetDonutChart'

    export default {
        data() {
            return {
                numberAssets:0,
                totalUSD: 'N/A ',
                totalBTC: 'N/A ',
                loading: false,
                coinName: null,
                barData : this.alloBar,
                load: false,
                series: [50, 50],
                colors: ["green", "blue"],
                }
        },
        props: ['globalBalances'],
        mounted() {
            var tmp_series = []
            var tmp_colors = []
            for (var coin in this.globalBalances.global){
                if (coin != 'computed'){
                this.numberAssets += 1
                tmp_series.push(this.globalBalances.global[coin].AllocationPercentage)
                tmp_colors.push(this.globalBalances.global[coin].Color)
                }
            }
            this.totalUSD = this.globalBalances.global.computed.combinedusdTotal
            this.totalBTC = this.globalBalances.global.computed.combinedbtcTotal
            this.series = tmp_series
            this.colors = tmp_colors
            this.load = true
            this.$nuxt.$on('radialData', payload => {
                this.coinName = payload.symbol
                if (this.coinName in this.globalBalances.global){
                    this.totalUSD = this.globalBalances.global[this.coinName].usdvalue
                    this.totalBTC = this.globalBalances.global[this.coinName].btcvalue
                } else {
                    this.totalUSD = 0
                    this.totalBTC = 0
                }
            })
        },
        components: {
            DonutChart
        },
        methods: {

        }
    }
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .wrapper {
    margin:auto;
    position: absolute;
  bottom: 100;
  right: 10;
    }

    .box .apexcharts-xaxistooltip {
    background: #1b213b;
    color: #fff;
    }

    .content-area {
        max-width: 1280px;
        margin: 0 auto;
    }

    .columnbox {
        padding-right: 15px;
    }

    .radialbox {
        max-height: 333px;
        margin-bottom: 60px;
    }

    .apexcharts-legend-series tspan:nth-child(3) {
        font-weight: bold;
        font-size: 20px;
    }
</style>